{% load staticfiles %}
{% block main_content %}

    <form action="/admin/contact/" method="post">
        {% csrf_token %}
        <div class="card-box">
            <button type="submit" class="btn btn-primary waves-effect waves-light ">Save</button>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-header card-title">Address for Google maps</div>
                    <div class="card-box">

                        <input class="form-control justify-content-around" type="text" id="map-address" name="map-address" value="{{ contact_us.map_address }}">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="card m-b-20">
                    <div class="card-header card-title">Your name, phone and email</div>
                    <div class="card-box">

                        <textarea id="elm1" name="elm1">{{ contact_us.contact_us_name }}</textarea>

                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="card m-b-20">
                    <div class="card-header card-title">Company address</div>
                    <div class="card-box">

                        <textarea id="elm1" name="elm2">{{ contact_us.contact_us_address }}</textarea>

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}