{% extends 'admin_links.html' %}
{% load staticfiles %}

{% block main_content %}
	<div class="row">
		<div class="col-12">
			<div class="card card-box">
				<button class="btn bg-transparent disabled"
						style="color: #0da357; font-size: 20px; font-weight: 500; padding: 0px">Link for Links page
				</button>
			</div>
			<div class="card card-box">
				<form action="/admin/links/save/" method="post" class="form-horizontal"
					  enctype="multipart/form-data">
					{% csrf_token %}
					<input type="text" name="link_id" value="{{ current_link.id }}" style="display: none">
					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label">Title:</label>
							<input type="text" class="form-control" id="link_title"
								   name="link_title" value="{{ current_link.link_name }}"
								   placeholder="Enter the title of link" required>
						</div>
						<div class="form-group col-md-4">
							<label class="col-form-label">URL:</label>
							<input type="text" class="form-control" id="link_url"
								   value="{{ current_link.link_url }}"
								   name="link_url" placeholder="Link URL" required>
						</div>
						<div class="form-group col-md-4">
							<label class="col-form-label">Link Category:</label>
							<select class="form-control" id="link_category"
									name="link_category" required>
								<option>Select a category</option>
								{% for category in link_categories %}
									{% if category.id == current_link.link_category_id %}
										<option value="{{ category.id }}"
												selected>{{ category.link_category_name }}</option>
									{% else %}
										<option value="{{ category.id }}">{{ category.link_category_name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<button type="submit" class="btn btn-primary pull-right m-t-30">Save</button>
				</form>

			</div>
		</div>
	</div>
{% endblock %}