{% load staticfiles %}
{% block main_content %}

	<div class="row">
		<div class="col-12">
			<div class="card-box">
				<a href="#custom-modal-category" class="btn btn-primary waves-effect waves-light m-r-5"
				   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Add
					New Category for Links</a>

				<!-- Modal -->

				<div id="custom-modal-category" class="modal-demo">
					<button type="button" class="close" onclick="Custombox.close();">
						<span>&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="custom-modal-title">Add New Category for Links</h4>

					<div class="custom-modal-text">
						<div class="row">
							<div class="col-sm-12">
								<form action="/admin/links/category-add/" method="post" class="form-horizontal"
									  enctype="multipart/form-data" id="categoryUpload">
									{% csrf_token %}
									<div class="form-group row">
										<label class="col-4 col-form-label">Title:</label>
										<div class="col-8">
											<input type="text" class="form-control" id="link_category_title"
												   name="link_category_title"
												   placeholder="Enter the title of category" required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-4 col-form-label">Alias:</label>
										<div class="col-8">
											<input type="text" class="form-control" id="link_category_alias"
												   name="link_category_alias" placeholder="Category alias" required>
										</div>
									</div>

									<button type="submit" class="btn btn-primary pull-right">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card-box">
				<div class="table-rep-plugin">
					<div class="table-responsive" data-pattern="priority-columns">
						<table id="categoryTable" class="table table-striped m-b-0" data-tablesaw-mode="swipe"
							   data-tablesaw-minimap>
							<thead>
							<tr>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">ID</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Category
									name
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Number of Links
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Edit/Delete</th>
							</tr>
							</thead>
							<tbody>
							{% for category in link_categories %}
								<tr>
									<td>{{ category.id }}</td>
									<td>{{ category.link_category_name }}</td>
									<td>{{ category.link_category_key.count }}</td>
									<td>
										<span>
											<a href="#custom-modal-{{ category.id }}"
											   class="btn btn-link"
											   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
											   data-overlayColor="#36404a"><i
													class="fa fa-edit mr-3"></i></a>
											<button type="button" class="btn btn-link"
													onclick="if(confirm('Are you sure you want to delete item?'))
															document.getElementById('category-delete-{{ category.id }}').submit(); return false">
											<i class="fa fa-trash-o" style="color: red;"></i></button>
											<form action="/admin/links/category-delete/" method="post"
												  id="category-delete-{{ category.id }}">
												{% csrf_token %}
												<input name="category_delete" value="{{ category.id }}"
													   style="display: none">
											</form>
										</span>
									</td>
								</tr>


								<!-- Modal -->

								<div id="custom-modal-{{ category.id }}" class="modal-demo">
									<button type="button" class="close" onclick="Custombox.close();">
										<span>&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="custom-modal-title">Edit "{{ category.link_category_name }}" for
										Links</h4>

									<div class="custom-modal-text">
										<div class="row">
											<div class="col-sm-12">
												<form action="/admin/links/category-add/" method="post"
													  class="form-horizontal">
													{% csrf_token %}
													<input type="text" name="category_id" value="{{ category.id }}"
														   style="display: none">
													<div class="form-group row">
														<label class="col-4 col-form-label">Title:</label>
														<div class="col-8">
															<input type="text" class="form-control"
																   id="link_category_title_{{ category.id }}"
																   name="link_category_title"
																   value="{{ category.link_category_name }}"
																   placeholder="Enter the title of category" required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-4 col-form-label">Alias:</label>
														<div class="col-8">
															<input type="text" class="form-control"
																   id="link_category_alias_{{ category.id }}"
																   name="link_category_alias"
																   placeholder="Category alias"
																   value="{{ category.link_category_alias }}"
																   required>
														</div>
													</div>

													<button type="submit" class="btn btn-primary pull-right">Save
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>


							{% endfor %}
							</tbody>
						</table>
					</div>

				</div>

			</div>
		</div>
	</div>

	<script>


		$('#link_category_title').on('keyup change', function () {
			var link_category_title = this.value;
			$.ajax({
				type: 'GET',
				url: '/link-category-alias-slugify/',
				data: {
					'link_category_title': link_category_title,
				},
				success: function (data) {
					$('#link_category_alias').val(data);
					ch();
				}
			});

			$("#link_category_alias").on('keyup change', function () {
				var alias = this.value;


				var complete = function (res, status) {
					if (status == "success") $("#link_category_alias").css({
						'color': 'green',
					});
					else $("#link_category_alias").css({
						'color': 'red',
					});
				};


				$.ajax({
					type: 'GET',
					url: '/link-category-alias-available/',
					data: {'link_category_alias': alias},
					complete: complete
				});
			});

			ch();

			function ch() {
				var alias = document.getElementById('link_category_alias').value;


				var complete = function (res, status) {
					if (status == "success") $("#link_category_alias").css({
						'color': 'green',
						'font-weight': 'bold',
					});
					else
						$("#link_category_alias").css({
							'color': 'red',
							'font-weight': 'bold',
						});
				};


				$.ajax({
					type: 'GET',
					url: '/link-category-alias-available/',
					data: {'link_category_alias': alias},
					complete: complete
				});
			}
		});
	</script>
	<!-- end row -->






	<div class="row">
		<div class="col-12">
			<div class="card-box">
				<a href="{% url 'add_link' %}" class="btn btn-primary waves-effect waves-light m-r-5">Add New
					Link</a>
			</div>

			<div class="card-box">
				<div class="table-rep-plugin">
					<div class="table-responsive" data-pattern="priority-columns">
						<table id="linkTable" class="table table-striped m-b-0" data-tablesaw-mode="swipe"
							   data-tablesaw-minimap>
							<thead>
							<tr>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">ID</th>
								<th scope="col" data-tablesaw-sortable-col
									data-tablesaw-priority="persist">
									Link Title
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">URL
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col
									data-tablesaw-priority="4">Category
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Edit/Delete</th>
							</tr>
							</thead>
							<tbody>
							{% for link in links %}
								<tr>
									<td>{{ link.id }}</td>
									<td>
										<a href="/admin/links/add/?id={{ link.id }}">
											{{ link.link_name }}
										</a>
									</td>
									<td>{{ link.link_url }}</td>
									<td>{{ link.link_category.link_category_name }}</td>
									<td>
									<span>
                                            <a href="/admin/links/add/?id={{ link.id }}"
											   class="btn btn-link"><i
													class="fa fa-edit mr-3"></i></a>
                                            <button type="button" class="btn btn-link"
													onclick="if(confirm('Are you sure you want to delete item?'))
															document.getElementById('link-delete-{{ link.id }}').submit(); return false">
                                            <i class="fa fa-trash-o" style="color: red;"></i></button>
                                                <form action="/admin/links/delete/" method="post"
													  id="link-delete-{{ link.id }}">
                                                    {% csrf_token %}
                                                    <input name="link_delete" value="{{ link.id }}"
														   style="display: none">
                                                </form>
                                        </span>
									</td>
								</tr>


							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}