{% load staticfiles %}
{% block contact_us %}

    {% block main_content %}
        <!-- Google map -->
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="450" id="gmap_canvas"
                        src="https://maps.google.com/maps?q={{ contact_us.map_address }}&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                </iframe>
            </div>
            <style>.mapouter {
                text-align: right;
                height: 450px;
                width: 100%;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 450px;
                width: 100%;
            }</style>
        </div>


        <!-- Contact page main -->
        <section class="page-section contact-page">
            <div class="container">

                <div class="row">

                    <!-- Left side page column -->
                    <div class="col-xlarge-4 contact-page-text">

                        <h1 class="font-reg">Kontakta</h1>

{#                        <div class="page-content">#}
{#                            <p>Integer pretium posuere est. Ut interdum mollis ipsum, ac vehicula nisl laoreet et.#}
{#                                Curabitur ac ipsum aliquam, varius purus at, lobortis purus. Maecenas quis sem dapibus,#}
{#                                volutpat odio non, mattis dui. Nam eget urna nec mi tempor mollis vel nec felis.</p>#}
{#                        </div>#}
{##}
{#                        <div class="detail-block">#}
{#                            <h3 class="font-reg">Our location</h3>#}
{#                            <span>6 Spencer St, London, EC1V, United Kingdom</span>#}
{#                        </div>#}
{##}
{#                        <div class="detail-block">#}
{#                            <h3 class="font-reg">Email us</h3>#}
{#                            <a href="mailto:enquiries@example.com">hello@instinct.com</a>#}
{#                        </div>#}
                        <div class="page-content">
                            {{ contact_us.contact_us_address|safe }}
                        </div>

                        <div class="detail-block">
                            {{ contact_us.contact_us_name|safe }}
                        </div>

                    </div>

                    <!-- Right side page column -->
                    <div class="col-xlarge-8">
                        <div id="success-message" class="notification"><p class="font-reg"></p></div>
                        <div id="error-message" class="notification"><p class="font-reg"></p></div>

                        <!-- contact form -->
                        <form action="/contact-us/" method="post" name="contact-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xlarge-6 col-medium-6">
                                    <input type="text" class="contact-input font-reg" name="contact_name"
                                           id="contact_name" value="" placeholder="Ditt namn" tabindex="1"/>
                                </div>
                                <div class="col-xlarge-6 col-medium-6">
                                    <input type="email" class="contact-input font-reg" name="contact_email"
                                           id="contact_email" value="" placeholder="Din email" tabindex="2"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xlarge-12">
                                    <textarea name="contact_message" id="contact_message" class="contact-text font-reg"
                                              tabindex="4" placeholder="Ditt meddelande"></textarea>
                                </div>
                            </div>
                            <input type="submit" class="primary-button font-reg hov-bk" value="Skicka"/>
                        </form>

                    </div>

                </div>

            </div>
        </section>
    {% endblock %}

{% endblock %}