{% extends 'admin_news.html' %}
{% load staticfiles %}

{% block main_content %}
	<div class="row">
		<div class="col-12">
			<div class="card card-box">
				<button class="btn bg-transparent disabled"
						style="color: #0da357; font-size: 20px; font-weight: 500; padding: 0px">Article for News page
				</button>
			</div>
			<div class="card card-box">
				<form action="/admin/news/article/save/" method="post" class="form-horizontal"
					  enctype="multipart/form-data">
					{% csrf_token %}
					<input type="text" name="article_id" value="{{ current_article.id }}" style="display: none">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="col-form-label">Title:</label>
							<input type="text" class="form-control" id="article_title"
								   name="article_title" value="{{ current_article.article_title }}"
								   placeholder="Enter the title of article" required>
						</div>
						<div class="form-group col-md-6">
							<label class="col-form-label">Alias:</label>
							<input type="text" class="form-control" id="article_alias"
								   value="{{ current_article.article_alias }}"
								   name="article_alias" placeholder="Article alias">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label class="col-form-label">Article Text:</label>
							<textarea id="elm2" name="elm2">{{ current_article.article_body }}</textarea>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label class="col-form-label">Tags:</label>
									<div class="tags-default">
										<input type="text" value="{{ current_article.article_metakey }}"
											   data-role="tagsinput"
											   placeholder="add tags" name="article_tags"/>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label class="col-form-label">Category:</label>
									<select class="form-control" id="article_category"
											name="article_category" required>
										<option>Select a category</option>
										{% for category in article_categories %}
											{% if category.id == current_article.article_category_id %}
												<option value="{{ category.id }}"
														selected>{{ category.article_category_title }}</option>
											{% else %}
												<option value="{{ category.id }}">{{ category.article_category_title }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 align-self-center m-t-20">
							<div class="form-row justify-content-center">
								<div class="form-group col-md-6">
									<div class="form-group">
										<label class="col-form-label">Article is published:</label>
										{% if current_article.article_published == 1 %}
											<div class="col-8" style="text-align: left !important;">
												<div class="radio radio-success m-t-5">
													<input type="radio"
														   name="article_published"
														   id="published_1_{{ article.id }}" value="1" checked>
													<label for="published_1_{{ article.id }}">
														Yes
													</label>
												</div>
												<div class="radio radio-danger m-t-5">
													<input type="radio"
														   name="article_published"
														   id="published_0_{{ article.id }}" value="0">
													<label for="published_0_{{ article.id }}">
														No
													</label>
												</div>
											</div>
										{% else %}
											<div class="col-8" style="text-align: left !important;">
												<div class="radio radio-success m-t-5">
													<input type="radio"
														   name="article_published"
														   id="published_1_{{ article.id }}" value="1">
													<label for="published_1_{{ article.id }}">
														Yes
													</label>
												</div>
												<div class="radio radio-danger m-t-5">
													<input type="radio"
														   name="article_published"
														   id="published_0_{{ article.id }}" value="0" checked>
													<label for="published_0_{{ article.id }}">
														No
													</label>
												</div>
											</div>
										{% endif %}
									</div>

								</div>
							</div>
						</div>
						<input type="file" class="dropify" id="article_image" name="article_image" data-height="300"/>
						{% if current_article.article_image %}
							<div class="card-body text-center">
								<img src="/{{ current_article.article_image }}" width="300" height="auto">
							</div>
						{% else %}
						{% endif %}
					</div>
					<button type="submit" class="btn btn-primary pull-right m-t-30">Save</button>
				</form>

			</div>
		</div>
	</div>


	<script>


		$('#article_title').on('keyup change', function () {
			var article_title = this.value;
			$.ajax({
				type: 'GET',
				url: '/alias-slugify/',
				data: {
					'title': article_title,
				},
				success: function (data) {
					$('#article_alias').val(data);
					ch();
				}
			});

			$("#article_alias").on('keyup change', function () {
				var alias = this.value;


				var complete = function (res, status) {
					if (status == "success") $("#article_alias").css({
						'color': 'green',
					});
					else $("#article_alias").css({
						'color': 'red',
					});
				};


				$.ajax({
					type: 'GET',
					url: '/alias-available/',
					data: {'article_alias': alias},
					complete: complete
				});
			});

			ch();

			function ch() {
				var alias = document.getElementById('article_alias').value;


				var complete = function (res, status) {
					if (status == "success") $("#article_alias").css({
						'color': 'green',
						'font-weight': 'bold',
					});
					else
						$("#article_alias").css({
							'color': 'red',
							'font-weight': 'bold',
						});
				};


				$.ajax({
					type: 'GET',
					url: '/alias-available/',
					data: {'article_alias': alias},
					complete: complete
				});
			}
		});
	</script>
{% endblock %}