{% load staticfiles %}
{% block main_content %}

	<div class="row">
		<div class="col-12">
			<div class="card-box">
				<a href="#custom-modal-category" class="btn btn-primary waves-effect waves-light m-r-5"
				   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Add
					New Category</a>

				<!-- Modal -->

				<div id="custom-modal-category" class="modal-demo">
					<button type="button" class="close" onclick="Custombox.close();">
						<span>&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="custom-modal-title">Add New Category for News</h4>

					<div class="custom-modal-text">
						<div class="row">
							<div class="col-sm-12">
								<form action="/admin/news/category-add/" method="post" class="form-horizontal"
									  enctype="multipart/form-data" id="categoryUpload">
									{% csrf_token %}
									<div class="form-group row">
										<label class="col-4 col-form-label">Title:</label>
										<div class="col-8">
											<input type="text" class="form-control" id="article_category_title"
												   name="article_category_title"
												   placeholder="Enter the title of category" required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-4 col-form-label">Alias:</label>
										<div class="col-8">
											<input type="text" class="form-control" id="article_category_alias"
												   name="article_category_alias" placeholder="Category alias" required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-4 col-form-label">Category is published:</label>
										<div class="col-8" style="text-align: left !important;">
											<div class="radio radio-success m-t-5">
												<input type="radio" name="article_category_published" id="published_1"
													   value="1">
												<label for="published_1">
													Yes
												</label>
											</div>
											<div class="radio radio-danger m-t-5">
												<input type="radio" name="article_category_published" id="published_0"
													   value="0">
												<label for="published_0">
													No
												</label>
											</div>
										</div>
									</div>

									<button type="submit" class="btn btn-primary pull-right">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card-box">
				<div class="table-rep-plugin">
					<div class="table-responsive" data-pattern="priority-columns">
						<table id="categoryTable" class="table table-striped m-b-0" data-tablesaw-mode="swipe"
							   data-tablesaw-minimap>
							<thead>
							<tr>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">ID</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Category
									name
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Articles</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Published</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Edit/Delete</th>
							</tr>
							</thead>
							<tbody>
							{% for category in categories %}
								<tr>
									<td>{{ category.id }}</td>
									<td>{{ category.article_category_title }}</td>
									<td>{{ category.article_category_key.count }}</td>
									<td>{% if category.article_category_published == 1 %}
										<form action="/admin/news/category/change-category-state/" method="post"
											  id="change-category-state-{{ category.id }}">
											{% csrf_token %}
											<input name="category_id" value="{{ category.id }}" style="display: none">
											<a onclick="document.getElementById('change-category-state-{{ category.id }}').submit();"
											   class="btn btn-link"><i
													class="mdi mdi-checkbox-marked" style="color: #007bff"></i></a>
										</form>
									{% else %}
										<form action="/admin/news/category/change-category-state/" method="post"
											  id="change-category-state-{{ category.id }}">
											{% csrf_token %}
											<input name="category_id" value="{{ category.id }}" style="display: none">
											<a onclick="document.getElementById('change-category-state-{{ category.id }}').submit();"
											   class="btn btn-link"><i class="mdi mdi-close-box"
																				style="color: red;"></i></a>
										</form>{% endif %}</td>
									<td>
                                    <span>
                                        <a href="#custom-modal-{{ category.id }}"
										   class="btn btn-link"
										   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
										   data-overlayColor="#36404a"><i
												class="fa fa-edit mr-3"></i></a>
                                        <button type="button" class="btn btn-link"
												onclick="if(confirm('Are you sure you want to delete item?'))
														document.getElementById('category-delete-{{ category.id }}').submit(); return false">
                                        <i class="fa fa-trash-o" style="color: red;"></i></button>
                                    <form action="/admin/news/category-delete/" method="post"
										  id="category-delete-{{ category.id }}">
                                    {% csrf_token %}
                                    <input name="category_delete" value="{{ category.id }}" style="display: none">
                                    </form>
                                    </span>
									</td>
								</tr>


								<!-- Modal -->

								<div id="custom-modal-{{ category.id }}" class="modal-demo">
									<button type="button" class="close" onclick="Custombox.close();">
										<span>&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="custom-modal-title">Edit "{{ category.article_category_title }}" for
										News</h4>

									<div class="custom-modal-text">
										<div class="row">
											<div class="col-sm-12">
												<form action="/admin/news/category-add/" method="post"
													  class="form-horizontal">
													{% csrf_token %}
													<input type="text" name="category_id" value="{{ category.id }}"
														   style="display: none">
													<div class="form-group row">
														<label class="col-4 col-form-label">Title:</label>
														<div class="col-8">
															<input type="text" class="form-control"
																   id="article_category_title_{{ category.id }}"
																   name="article_category_title"
																   value="{{ category.article_category_title }}"
																   placeholder="Enter the title of category" required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-4 col-form-label">Alias:</label>
														<div class="col-8">
															<input type="text" class="form-control"
																   id="article_category_alias_{{ category.id }}"
																   name="article_category_alias"
																   placeholder="Category alias"
																   value="{{ category.article_category_alias }}"
																   required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-4 col-form-label">Category is
															published:</label>
														{% if category.article_category_published == 1 %}
															<div class="col-8" style="text-align: left !important;">
																<div class="radio radio-success m-t-5">
																	<input type="radio"
																		   name="article_category_published"
																		   id="published_1_{{ category.id }}" value="1"
																		   checked>
																	<label for="published_1_{{ category.id }}">
																		Yes
																	</label>
																</div>
																<div class="radio radio-danger m-t-5">
																	<input type="radio"
																		   name="article_category_published"
																		   id="published_0_{{ category.id }}" value="0">
																	<label for="published_0_{{ category.id }}">
																		No
																	</label>
																</div>
															</div>
														{% elif category.article_category_published == 0 %}
															<div class="col-8" style="text-align: left !important;">
																<div class="radio radio-success m-t-5">
																	<input type="radio"
																		   name="article_category_published"
																		   id="published_1_{{ category.id }}" value="1">
																	<label for="published_1_{{ category.id }}">
																		Yes
																	</label>
																</div>
																<div class="radio radio-danger m-t-5">
																	<input type="radio"
																		   name="article_category_published"
																		   id="published_0_{{ category.id }}" value="0"
																		   checked>
																	<label for="published_0_{{ category.id }}">
																		No
																	</label>
																</div>
															</div>
														{% endif %}
													</div>

													<button type="submit" class="btn btn-primary pull-right">Save
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>


							{% endfor %}
							</tbody>
						</table>
					</div>

				</div>

			</div>
		</div>
	</div>

	<script>


		$('#article_category_title').on('keyup change', function () {
			var article_category_title = this.value;
			$.ajax({
				type: 'GET',
				url: '/category-alias-slugify/',
				data: {
					'article_category_title': article_category_title,
				},
				success: function (data) {
					$('#article_category_alias').val(data);
					ch();
				}
			});

			$("#article_category_alias").on('keyup change', function () {
				var alias = this.value;


				var complete = function (res, status) {
					if (status == "success") $("#article_category_alias").css({
						'color': 'green',
					});
					else $("#article_category_alias").css({
						'color': 'red',
					});
				};


				$.ajax({
					type: 'GET',
					url: '/category-alias-available/',
					data: {'article_category_alias': alias},
					complete: complete
				});
			});

			ch();

			function ch() {
				var alias = document.getElementById('article_category_alias').value;


				var complete = function (res, status) {
					if (status == "success") $("#article_category_alias").css({
						'color': 'green',
						'font-weight': 'bold',
					});
					else
						$("#article_category_alias").css({
							'color': 'red',
							'font-weight': 'bold',
						});
				};


				$.ajax({
					type: 'GET',
					url: '/category-alias-available/',
					data: {'article_category_alias': alias},
					complete: complete
				});
			}
		});
	</script>
	<!-- end row -->






	<div class="row">
		<div class="col-12">
			<div class="card-box">
				<a href="{% url 'add_news' %}" class="btn btn-primary waves-effect waves-light m-r-5">Add New
					Article</a>
			</div>

			<div class="card-box">
				<div class="table-rep-plugin">
					<div class="table-responsive" data-pattern="priority-columns">
						<table id="articleTable" class="table table-striped m-b-0" data-tablesaw-mode="swipe"
							   data-tablesaw-minimap>
							<thead>
							<tr>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">ID</th>
								<th scope="col" data-tablesaw-sortable-col
									data-tablesaw-priority="persist">
									Article Title
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col
									data-tablesaw-priority="4">Category
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Date
									Created / Edited
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Published</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Edit/Delete</th>
							</tr>
							</thead>
							<tbody>
							{% for article in articles %}
								<tr>
									<td>{{ article.id }}</td>
									<td>
										<a href="/admin/news/article/add/?id={{ article.id }}">
											{{ article.article_title }}
										</a>
									</td>
									<td>{{ article.article_category.article_category_title }}</td>
									<td>{{ article.article_edited_date|date:"d.m.Y H:i" }}</td>
									<td>{% if article.article_published == 1 %}
										<form action="/admin/news/article/change-article-state/" method="post"
											  id="change-article-state-{{ article.id }}">
											{% csrf_token %}
											<input name="article_id" value="{{ article.id }}" style="display: none">
											<a onclick="document.getElementById('change-article-state-{{ article.id }}').submit();"
											   class="btn btn-link"><i
													class="mdi mdi-checkbox-marked" style="color: #007bff"></i></a>
										</form>
									{% else %}
										<form action="/admin/news/article/change-article-state/" method="post"
											  id="change-article-state-{{ article.id }}">
											{% csrf_token %}
											<input name="article_id" value="{{ article.id }}" style="display: none">
											<a onclick="document.getElementById('change-article-state-{{ article.id }}').submit();"
											   class="btn btn-link"><i class="mdi mdi-close-box"
																				style="color: red;"></i></a>
										</form>{% endif %}</td>
									<td>
                                        <span>
                                            <a href="/admin/news/article/add/?id={{ article.id }}"
											   class="btn btn-link"><i
													class="fa fa-edit mr-3"></i></a>
                                            <button type="button" class="btn btn-link"
													onclick="if(confirm('Are you sure you want to delete item?'))
															document.getElementById('article-delete-{{ article.id }}').submit(); return false">
                                            <i class="fa fa-trash-o" style="color: red;"></i></button>
                                                <form action="/admin/news/article/delete/" method="post"
													  id="article-delete-{{ article.id }}">
                                                    {% csrf_token %}
                                                    <input name="article_delete" value="{{ article.id }}"
														   style="display: none">
                                                </form>
                                        </span>
									</td>
								</tr>


							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}