<div class="card m-b-20" id="service_ajax_{{ service.id }}" style="min-height: 233px;">
    <div class="card-link text-right">
        <h6>
            <button id="close_{{ service.id }}"
                    class="btn-link border-0"
                    data-overlayColor="#36404a"><i
                    class="fa fa-ban"></i></button>
            {% csrf_token %}
            <button type="button" class="btn-link border-0"
                    onclick="if(confirm('Are you sure you want to delete item?'))
                            document.getElementById('service-delete-{{ service.id }}').submit(); return false">
                <i class="fa fa-trash-o" style="color: red;"></i></button>
            <form action="/admin/service-delete/" method="post"
                  id="service-delete-{{ service.id }}">
                {% csrf_token %}
                <input name="service_delete" value="{{ service.id }}" style="display: none">
            </form>
        </h6>
    </div>
    <form action="/admin/services/add/" method="post">
        {% csrf_token %}
        <div class="card-img-top img-fluid text-center">
            <input type="text" name="service_icon" value="{{ service.service_icon }}" placeholder="fa fa-XXX"
                   style="text-align: center;">
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">
                <input type="text" name="service_id" id="service_id_{{ service.id }}" value="{{ service.id }}"
                       style="display:none;">
                <label id="service_name_x_{{ service.id }}" class="service_name_x">
                    <input type="text" name="service_name" value="{{ service.service_name }}"
                           style="text-align: center;">
                </label>

                <input type="text" name="service_description" value="{{ service.service_description }}"
                       style="text-align: center;">
                <div class="m-t-15">
                    <button type="submit" class="btn-link border-0" data-overlayColor="#36404a"><i
                            class="fa fa-save"></i>
                    </button>
                </div>
            </h4>
        </div>
    </form>
    <script>
        $('#close_{{ service.id }}').click(function () {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var service_id = $('input[id="service_id_{{ service.id }}"]').val();
            $.ajax
            ({
                url: '/admin/services/close/',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'service_id': service_id,
                },
                type: 'post',
                success: function (result) {
                    $("#service_ajax_{{ service.id }}").html(result);
                }
            });

        });
    </script>
</div>