{% load staticfiles %}
{% block main_content %}

    <div class="row">
        <div class="col-12">
            <form action="/admin/services/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-box">
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Save</button>
                </div>
                <div class="card m-b-20">
                    <div class="card-header card-title">Services page text</div>
                    <div class="card-box">

                        <textarea id="elm1" name="elm1">{{ service_text.service_text }}</textarea>

                    </div>
                </div>
            </form>


            <div class="card-box">
                <form action="/admin/services/" method="post">
                    {% csrf_token %}
                    <a href="#custom-modal" class="btn btn-primary waves-effect waves-light m-r-5"
                       data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
                       data-overlayColor="#36404a">Add New Service</a>
                </form>
            </div>


            <div class="row">
                {% for service in services %}
                    <div class="col-md-6 col-lg-3" id="service_ajax_{{ service.id }}">

                        <div class="card m-b-20" style="min-height: 233px;">
                            <div class="card-link text-right">
                                <h6>
                                    {% csrf_token %}
                                    <button id="edit_{{ service.id }}"
                                            class="btn-link border-0"><i
                                            class="fa fa-edit"></i></button>

                                    <button type="button" class="btn-link border-0"
                                            onclick="if(confirm('Are you sure you want to delete item?'))
                                                    document.getElementById('service-delete-{{ service.id }}').submit(); return false">
                                        <i class="fa fa-trash-o" style="color: red;"></i></button>
                                    <form action="/admin/service-delete/" method="post"
                                          id="service-delete-{{ service.id }}">
                                        {% csrf_token %}
                                        <input name="service_delete" value="{{ service.id }}" style="display: none">
                                    </form>
                                </h6>
                            </div>
                            <div class="card-img-top img-fluid text-center">
                                <i class="{{ service.service_icon }}"
                                   style="font-size: 30px; margin-bottom: 20px; margin-top: 40px;"></i>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center">
                                    <input type="text" name="service_id" id="service_id_{{ service.id }}"
                                           value="{{ service.id }}"
                                           style="display:none;">
                                    <input type="text" name="service_name" id="service_name_{{ service.id }}"
                                           style="display: none;" value="{{ service.service_name }}">
                                    <label id="service_name_x_{{ service.id }}" class="service_name_x"
                                        style="word-break: break-word">
                                        {{ service.service_name }}
                                    </label>
                                </h4>
                                <p class="card-text text-center">{{ service.service_description }}</p>
                            </div>
                            <script>

                                $('#edit_{{ service.id }}').click(function () {
                                    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                                    var service_id = $('input[id="service_id_{{ service.id }}"]').val();
                                    $.ajax
                                    ({
                                        url: '/admin/services/edit/',
                                        data: {
                                            'csrfmiddlewaretoken': csrftoken,
                                            'service_id': service_id,
                                        },
                                        type: 'post',
                                        success: function (result) {
                                            $("#service_ajax_{{ service.id }}").html(result);
                                        }
                                    });

                                });
                            </script>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <!-- Modal -->

            <div id="custom-modal" class="modal-demo">
                <button type="button" class="close" onclick="Custombox.close();">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="custom-modal-title">Add New Service</h4>

                <div class="custom-modal-text">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="/admin/services/add/" method="post" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Service name:</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="service_name"
                                               name="service_name"
                                               placeholder="Enter the name of service" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Service description:</label>
                                    <div class="col-9">
                                            <textarea class="form-control" id="service_description"
                                                      name="service_description" rows="5"
                                                      placeholder="Text that appears under service name"
                                                      required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Icon for service:</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="service_icon"
                                               name="service_icon"
                                               placeholder="Copy/paste icon code from https://fontawesome.com/"
                                               required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}