{% extends "admin/sections/services/services.html" %}
{% load staticfiles %}
{% block main_content %}

    <div class="card m-b-20" id="service_ajax_{{ service.id }}" style="min-height: 233px;">
        <div class="card-link text-right">
            <h6>
                {% csrf_token %}
                <button id="edit_{{ service.id }}"
                        class="btn-link border-0"><i
                        class="fa fa-edit"></i></button>

                <button type="button" class="btn-link border-0"
                        onclick="if(confirm('Are you sure you want to delete item?'))
                                document.getElementById('service-delete-{{ service.id }}').submit(); return false">
                    <i class="fa fa-trash-o" style="color: red;"></i></button>
                <form action="/admin/service-delete/" method="post"
                      id="service-delete-{{ service.id }}">
                    {% csrf_token %}
                    <input name="service_delete" value="{{ service.id }}" style="display: none">
                </form>
            </h6>
        </div>
        <div class="card-img-top img-fluid text-center">
            <i class="{{ service.service_icon }}"
               style="font-size: 30px; margin-bottom: 20px; margin-top: 40px;"></i>
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">
                <input type="text" name="service_id" id="service_id_{{ service.id }}" value="{{ service.id }}"
                       style="display:none;">
                <input type="text" name="service_name" id="service_name_{{ service.id }}"
                       style="display: none;" value="{{ service.service_name }}">
                <label id="service_name_x_{{ service.id }}" class="service_name_x"
                    style="word-break: break-word">
                    {{ service.service_name }}
                </label>
            </h4>
            <p class="card-text text-center">{{ service.service_description }}</p>
        </div>
        <script>

            $('#edit_{{ service.id }}').click(function () {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var service_id = $('input[id="service_id_{{ service.id }}"]').val();
                $.ajax
                ({
                    url: '/admin/services/edit/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'service_id': service_id,
                    },
                    type: 'post',
                    success: function (result) {
                        $("#service_ajax_{{ service.id }}").html(result);
                    }
                });

            });
        </script>
    </div>

{% endblock %}