{% load staticfiles %}
{% load imagefit %}
{% block about_us %}

	{% block main_content %}

		<!-- About page main -->
		<section class="page-section about-page jump-links" id="about-us">
			<div class="container">

				<div class="row">

					<!-- Left side page column -->
					<div class="col-xlarge-12 col-medium-12">
						<div class="section-title">
							<h2>Om oss</h2>
						</div>
						<div class="page-content">
							{{ about_us.aboutus_body | safe }}
						</div>
					</div>

{#					<!-- Right side page column -->#}
{#					<div class="col-xlarge-4 col-medium-4">#}
{#						<div class="text-center">#}
{#							<img src="{{ about_us.aboutus_image|resize:'500x500,C' }}" width="300" alt="about-image"/>#}
{#						</div>#}
{#					</div>#}

				</div>

			</div>
		</section>


		<!-- Team section -->
		<section class="team-section page-section section-border jump-links" id="our-team">
			<div class="container">

				<div class="team-section-inner">

					<!-- Section title -->
					<div class="section-title">
						<h2>Medarbetare</h2>
					</div>

					<ul class="row">
						{% for employee in employees %}
							<!-- team member example 1 -->
							<li class="col-xlarge-3 col-medium-3 mb-5 mb-xl-5 mb-md-5 mb-sm-5">
								<div class="team-item">
									<!-- team member image -->
									<img src="{{ employee.employee_image|resize:'1000x1000,C' }}" class="team-image" alt=""/>
									<!-- team item hover -->
									<div class="team-hover">
										<div class="team-hover-content font-reg">
											<h3>{{ employee.employee_full_name }}</h3>
											<p>{{ employee.employee_job }}</p>
											<a href="mailto:{{ employee.employee_email }}">{{ employee.employee_email }}</a>
										</div>
									</div>
								</div>
							</li>

						{% endfor %}

					</ul>

				</div>

			</div>
		</section>

		<style>

			.jump-links {
				position: relative;
				border-top: 52px solid transparent;
				margin: -30px 0 0;
				-webkit-background-clip: padding-box;
				-moz-background-clip: padding;
				background-clip: padding-box;
			}

			.jump-links:before {
				content: '';
				display: block;
				height: 150px; /* fixed header height*/
				margin: -150px 0 0; /* negative fixed header height */
			}
		</style>


	{% endblock %}


{% endblock %}
