{% load staticfiles %}
{% block jobs %}

	{% block main_content %}

		<!-- page content -->
		<section class="page-section single-portfolio">
			<div class="container">
				<div class="section-title services-section">
					<h2 class="">GDPR</h2>
				</div>
				<div class="row">
					<div class="col-xlarge-2"></div>
					<div class="col-xlarge-8 page-content">
						{{ gdpr.gdpr_body|safe }}

					</div>

				</div>

			</div>

		</section>

	{% endblock %}
{% endblock %}