{% load staticfiles %}
{% block jobs %}

	{% block main_content %}

		<!-- page content -->
		<section class="page-section single-portfolio">
			<div class="container">
				<div class="section-title services-section">
					<h2>Lediga tjänster</h2>
				</div>
				<div class="row">
					<div class="col-xlarge-2"></div>
					<div class="col-xlarge-8 single-portfolio-left">

						{% if job_offers %}
							{% for job_offer in job_offers %}
								<h1 class="font-reg">{{ job_offer.job_offer_title }}</h1>

								<div class="page-content">
									{{ job_offer.job_offer_description|safe }}
								</div>

								<div class="detail-block">
									<h3 class="font-reg">Utgångsdatum:</h3>
									<span>{{ job_offer.job_offer_expiring_date|date:"d.m.Y" }}</span>
								</div>

{#								<div class="detail-block">#}
{#									<h3 class="font-reg">Link</h3>#}
{#									<a href="http://www.lucid-themes.com">www.lucid-themes.com</a>#}
{#								</div>#}

								<!-- post share -->
								<div id="post-share" class="small-social clearfix mb-3">
									{% for social in socials %}
										<a href="{{ social.social_link }}" class="social-item hov-bk" target="_blank"
										   data-popup="{{ social.social_title }}"><span
												class="{{ social.social_icon }}"></span></a>
									{% endfor %}
								</div>
								<br><br>

								<div class="mt-lg-3 section-border"></div>
							{% endfor %}
						{% else %}
						{% endif %}

					</div>

				</div>

			</div>

		</section>

	{% endblock %}
{% endblock %}