{% load staticfiles %}
{% block main_footer %}

	<footer class="footer text-right">
		© Suprimax Admin Panel
		<span class="pull-right">
			{% if request.get_full_path == '/admin/' %}
				<a href="/" target="_blank">View 'Homepage' Site</a>
			{% elif request.get_full_path == '/admin/about-us/' %}
				<a href="/about-us/" target="_blank">View 'About Us' Site</a>
			{% elif request.get_full_path == '/admin/our-team/' %}
				<a href="/about-us/" target="_blank">View 'About Us' Site</a>
			{% elif request.get_full_path == '/admin/contact/' %}
				<a href="/contact-us/" target="_blank">View 'Contact Us' Site</a>
			{% elif request.get_full_path == '/admin/news/' %}
				<a href="/news/" target="_blank">View 'News' Site</a>
			{% elif request.get_full_path == '/admin/news/article/add/' %}
				<a href="/news/" target="_blank">View 'News' Site</a>
			{% elif request.get_full_path == '/admin/social/' %}
				<a href="/links/" target="_blank">View 'Social Profile / Pages' Site</a>
			{% elif request.get_full_path == '/admin/links/' %}
				<a href="/links/" target="_blank">View 'Links' Site</a>
			{% elif request.get_full_path == '/admin/links/add/' %}
				<a href="/links/" target="_blank">View 'Links' Site</a>
			{% elif request.get_full_path == '/admin/jobs/' %}
				<a href="/job-offers/" target="_blank">View 'Job Offers' Site</a>
			{% elif request.get_full_path == '/admin/jobs/add/' %}
				<a href="/job-offers/" target="_blank">View 'Job Offers' Site</a>
			{% endif %}
		</span>
	</footer>

{% endblock %}