{% load staticfiles %}
{% load imagefit %}
{% block sidebar %}

	<!-- ========== Left Sidebar Start ========== -->
	<div class="left side-menu">
		<div class="sidebar-inner slimscrollleft">

			<!-- User -->
			<div class="user-box">
				<div class="user-img">
					<img src="{{ profile_image.profile_image|resize:'1000x1000,C' }}" alt="" title="Mat Helme"
						 class="rounded-circle img-thumbnail img-responsive">
					<div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
				</div>
				<h5><a href="#">Senida Saletović</a></h5>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a class="btn-trans bg-transparent waves-effect waves-light" data-toggle="modal"
						   data-target=".bs-example-modal-lg">
							<i class="mdi mdi-settings"></i>
						</a>
					</li>


					<li class="list-inline-item">
						<form action="/admin/logout/" method="post">
							{% csrf_token %}
							<button type="submit" class="btn-link border-0">
								<i class="mdi mdi-power"></i>
							</button>
						</form>

					</li>
				</ul>
			</div>
			<!-- End User -->

			<!--- Sidemenu -->
			<div id="sidebar-menu">
				<ul>
					<li class="text-muted menu-title">Navigation</li>

					{#					<li#}
					{#							{% url 'admin_home' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>#}
					{#						<a href="{% url 'admin_home' %}" class="waves-effect"><i class="mdi mdi-view-dashboard"></i>#}
					{#							<span> Dashboard </span> </a>#}
					{#					</li>#}

					<li
							{% url 'admin_edit_homepage' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_edit_homepage' %}" class="waves-effect"><i class="mdi mdi-home"></i>
							<span> Homepage </span> </a>
					</li>
					<li
							{% url 'admin_about_us' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_about_us' %}" class="waves-effect"><i class="mdi mdi-information"></i>
							<span> About us </span> </a>
					</li>
					<li
							{% url 'admin_team' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_team' %}" class="waves-effect"><i class="mdi mdi-account-multiple"></i>
							<span> Our Team </span> </a>
					</li>
					<li
							{% url 'admin_services' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_services' %}" class="waves-effect"><i
								class="mdi mdi-account-settings-variant"></i>
							<span> Our Services </span> </a>
					</li>
					<li
							{% url 'admin_contact' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_contact' %}" class="waves-effect"><i class="mdi mdi-contact-mail"></i>
							<span> Contact Us </span> </a>
					</li>
					<li
							{% url 'admin_news' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_news' %}" class="waves-effect"><i
								class="mdi mdi-newspaper"></i>
							<span> News List </span> </a>
					</li>
					<li
							{% url 'add_news' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'add_news' %}" class="waves-effect"><i
								class="mdi mdi-new-box"></i>
							<span> Add Article </span> </a>
					</li>
					<li
							{% url 'admin_social' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_social' %}" class="waves-effect"><i
								class="mdi mdi-share-variant"></i>
							<span> Social Networks </span> </a>
					</li>
{#					<li#}
{#							{% url 'admin_links' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>#}
{#						<a href="{% url 'admin_links' %}" class="waves-effect"><i#}
{#								class="mdi mdi-link-variant"></i>#}
{#							<span> Links List </span> </a>#}
{#					</li>#}
{#					<li#}
{#							{% url 'add_link' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>#}
{#						<a href="{% url 'add_link' %}" class="waves-effect"><i#}
{#								class="mdi mdi-plus"></i>#}
{#							<span> Add Link </span> </a>#}
{#					</li>#}
					<li
							{% url 'admin_job_offers' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'admin_job_offers' %}" class="waves-effect"><i
								class="mdi mdi-link-variant"></i>
							<span> Job Offers List </span> </a>
					</li>
					<li
							{% url 'add_job_offer' user=user as the_url %}{% if request.get_full_path == the_url %}class="active"{% endif %}>
						<a href="{% url 'add_job_offer' %}" class="waves-effect"><i
								class="mdi mdi-plus"></i>
							<span> Add Job Offer </span> </a>
					</li>

				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Sidebar -->
			<div class="clearfix"></div>

		</div>

	</div>
	<!-- Left Sidebar End -->

	<!--  Modal content for the above example -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		 aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myLargeModalLabel">Upload profile photo</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<form method="post" action="/admin/profile/image/" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<input type="file" class="dropify" id="profile_image" name="profile_image" data-height="300"/>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock %}