{% load staticfiles %}
{% block main_navbar %}

	<!-- Top Bar Start -->
	<div class="topbar">

		<!-- LOGO -->
		<div class="topbar-left">
			<a href="{% url "admin_edit_homepage" %}" class="logo"><span>Suprimax<span>.se</span></span><i
					class="mdi mdi-layers"></i></a>
		</div>

		<!-- Button mobile view to collapse sidebar menu -->
		<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid">

				<!-- Page title -->
				<ul class="nav navbar-nav list-inline navbar-left">
					<li class="list-inline-item">
						<button class="button-menu-mobile open-left">
							<i class="mdi mdi-menu"></i>
						</button>
					</li>
					<li class="list-inline-item">
						<h4 class="page-title">
							{#							{% if request.get_full_path == '/admin/' %}#}
							{#								Dashboard#}
							{% if request.get_full_path == '/admin/' %}
								Homepage
							{% elif request.get_full_path == '/admin/about-us/' %}
								About Us
							{% elif request.get_full_path == '/admin/our-team/' %}
								Our Team
							{% elif request.get_full_path == '/admin/contact/' %}
								Contact Us
							{% elif request.get_full_path == '/admin/news/' %}
								News
							{% elif request.get_full_path == '/admin/news/article/add/' %}
								Article
							{% elif request.get_full_path == '/admin/social/' %}
								Social Profile / Pages
{#							{% elif request.get_full_path == '/admin/links/' %}#}
{#								Links List#}
{#							{% elif request.get_full_path == '/admin/links/add/' %}#}
{#								Add Link#}
							{% elif request.get_full_path == '/admin/jobs/' %}
								Job Offers
							{% elif request.get_full_path == '/admin/jobs/add/' %}
								Add Job Offer
							{% endif %}
						</h4>
					</li>
				</ul>

				<nav class="navbar-custom">

					<ul class="list-unstyled topbar-right-menu float-right mb-0">

						<li>
							<!-- Notification -->
							<div class="notification-box">
								<ul class="list-inline mb-0">
									<li>
										<a href="javascript:void(0);" class="right-bar-toggle">
											<i class="mdi mdi-bell-outline noti-icon"></i>
										</a>
										<div class="noti-dot">
											<span class="dot"></span>
											<span class="pulse"></span>
										</div>
									</li>
								</ul>
							</div>
							<!-- End Notification bar -->
						</li>

						<li class="hide-phone">
							<form class="app-search">
								<input type="text" placeholder="Search..."
									   class="form-control">
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</li>

					</ul>
				</nav>
			</div><!-- end container -->
		</div><!-- end navbar -->
	</div>
	<!-- Top Bar End -->

{% endblock %}