/* ------- RESPONSIVE CSS CONTENTS -------

	- 1) Small Desktop and Tablet Landscape (992px - 1099px)
	
	- 2) Mobile + Tablet (991px and below)
	
	- 3) Tablet only (768px - 991px)
	
	- 4) Mobile only (767px and below)
	
	- 5) Mobile very small only (310px and below)
	
 ------------------------------------ */



/* --- 1) Small Desktop and Tablet Landscape --- */
@media (min-width:992px) and (max-width:1099px) {

	/* for any custom code */
	
}



/* --- 2) mobile + tablet styles --- */
@media (max-width: 991px) {

	/* -- ALL -- */
	
	#main-content{padding-top:80px!important;}
	.edge-padding{padding:0!important;}
	
	.not-found-page h1,.about-section-content h1,.about-page h1.single-portfolio h1,.contact-page h1{font-size:21px;line-height:27px;}
	

	/* -- HEADER -- */

		.header-main,.header-main-inside{height:80px;}
		.header-main .container{width:750px;}

		#site-logo{/*margin-top:32px*/margin-top: 15px;}
	
		/* -- nav drop down button / hamburger icon -- */
		
		#mobile-nav-button{width:25px;height:24px;float:right;margin-top:31px;}

		#mobile-nav-icon {width:100%;height:100%;position:relative;cursor:pointer;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;}
		#mobile-nav-icon span {display:block;position:absolute;height:2px;width:100%;background-color:#111111;border-radius:2px;opacity:1;left:0;border-radius:2px;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;}
		#mobile-nav-icon span:nth-child(1){top:0;}
		#mobile-nav-icon span:nth-child(2),#mobile-nav-icon span:nth-child(3){top:8px;}
		#mobile-nav-icon span:nth-child(4){top:16px;}

		#mobile-nav-button.active{margin-right:15px;}
		#mobile-nav-button.active #mobile-nav-icon span:nth-child(1),#mobile-nav-button.active #mobile-nav-icon span:nth-child(4){top:10px;width:0;left:50%}
		#mobile-nav-button.active #mobile-nav-icon span:nth-child(2){-webkit-transform:rotate(45deg);transform:rotate(45deg);-moz-transition:rotate(45deg);-o-transition:rotate(45deg);}
		#mobile-nav-button.active #mobile-nav-icon span:nth-child(3){-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-moz-transition:rotate(-45deg);-o-transition:rotate(-45deg);}

		
		/* -- main menu drop down -- */
		
		#header-nav{margin-top:0px;width:100%;text-align:center;display:none;}
		.menu li{width:100%;float:left;margin:0;border-bottom:none;}
		.menu li:last-child{margin-right:0px;}
		#header-nav .menu-item > a{font-size:11px;float:none;display:block;padding:14px 0;margin-left:0;margin-right:0;text-align:left;padding-left:15px;border-bottom:1px solid rgba(0,0,0,0.05);}
		.menu > li > a:hover, .menu > .current-menu-item > a,.submenu-active{border-bottom:none;background:none;background-image:none;}

		
		/* -- sub menu drop down -- */
		
		.menu-item .sub-drop-icon{display:none;}
		.menu-item-has-children .sub-drop-icon{font-size:20px;position:absolute;right:18px;top:14px;color:#111111;display:block;}
		.menu .sub-menu{background-color:#ffffff;position:static;width:auto;display:none;padding:0 15px;box-shadow:0px 0px 0px 0px;border-top:1px solid #c7c7c7;-webkit-transition:none .35s;transition:none .35s;opacity:1;visibility:visible;margin-top:0;}
		.menu li:last-child .sub-menu li:last-child{border:0;}
		.menu .sub-menu li{padding:0}
		.menu .sub-menu li a{color:#111111!important;padding:14px 0 14px 15px;border-bottom:1px solid rgba(0,0,0,0.05);}
		.menu .sub-menu li a:hover{background-color:transparent;}
		.menu .sub-menu:after {content:'';display: block;font-size:0;height:0;clear:both;}
		
		.menu .sub-menu .sub-drop-icon{top:14px;}
	
	
		/* -- mobile sidebar menu -- */
		
		
		#header-nav{position:fixed;z-index:1000;height:100%;width:250px;top:0;right:-250px;background-color:#ffffff;overflow:auto;display:block;}
		#main-content,.medium-header-container,footer{position:relative;right:0;}
		#header-nav,#main-content,.medium-header-container,footer{-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;}
		
		#header-nav.menu-active{right:0;}
		#main-content.menu-active,.medium-header-container.menu-active,footer.menu-active{right:250px;}
		
		
	/* -- footer -- */
	
	#scroll-top{position:static;margin:50px auto 0;}

	
	/* -- page section title -- */
	
	.section-title h2{font-size:21px;}
	
	
	/* -- post sidebar -- */
	
	.left-sidebar,.right-sidebar{padding:0 15px;}
	
	.sidebar-widget input,.sidebar-widget select{font-size:16px;}
	
	
	/* -- home page -- */
	
	.block-item-inside h3{font-size:16px;line-height:18px;}
	
	
	/* -- about page -- */
	
	.team-hover{opacity:1;background-color: rgba(17,17,17,0.5);}
	
	
	/* -- news posts -- */
	
	.blog-item.wide-blog-item  h3 a{font-size:18px;line-height:23px;}
	
		
	/* -- contact page -- */
		
	.contact-input,.contact-text{font-size:16px;}

}



/* --- 3) tablet only --- */
@media (min-width:768px) and (max-width: 991px) {

	/* -- all -- */
	
	.page-section:not(.not-found-page){padding:70px 0;}

	
	/* -- footer -- */
	
	.footer-about-section{margin-bottom:50px;}
	
	
	/* -- page header -- */
	
	.page-header{min-height:250px;}
	.page-head-inside h1{font-size:30px;line-height:36px;}
	.page-head-inside p{font-size:13px;}
	
	
	/* -- post author -- */
	
	#post-author{padding-right:15px;}
	
	
	/* -- home page-- */

	.featured-section,.featured-slide{height:475px;overflow:hidden;}
	.featured-slide-content{max-width:80%;}
	
	.featured-narrow,.featured-narrow .featured-slide .container{width:750px;}
	
	
	/* -- portfolio page -- */

	#portfolio-item-filter{margin-bottom:20px;}
	#portfolio-item-filter li{margin-bottom:10px;padding:10px 15px;}
	
}



/* --- 4) mobile only --- */
@media (max-width:767px) {

	/* -- all -- */
	
	.page-section:not(.not-found-page){padding:40px 0;}
	

	/* -- header -- */
	
	.header-main .container{width:100%;}
	
	
	/* -- footer -- */ 
	
	.footer-posts-section{margin-top:50px;}
	
	
	.footer-bottom{text-align:center;}
	.footer-bottom p, .footer-bottom a{float:none;}
	.footer-social{float:none;display:inline-block;margin-top:20px;}
	#scroll-top{margin-top:30px;}
	
	
	/* -- page header -- */
	
	.page-header{min-height:200px;}
	.page-head-inside h1{font-size:26px;line-height:32px;letter-spacing:6px;margin-bottom:10px;}
	.page-head-inside p{font-size:13px;}
	
	
	/* -- page content -- */
	
	.page-content .alignleft,.page-content .alignright{float:none;max-width:100%!important;margin-left:0;margin-right:0;}
	
	
	/* -- post author -- */
	
	#post-author{padding:20px;}
	.author-image{text-align:left;margin-bottom:10px;}
	#post-author [class^="col-"]:last-child{padding-left:15px;}
	
	
	/* -- post video -- */
	
	#post-video iframe{max-height:300px;}
	
	
	/* -- post navigation -- */
	
	.post-nav-item p{font-size:12px;line-height:14px;margin-bottom:0;}
	
	
	/* -- post sidebar -- */
	
	.right-sidebar .sidebar-widget:first-child{margin-top:60px;}
	.left-sidebar .sidebar-widget:last-child{margin-bottom:60px;}
	
	
	/* -- home page -- */
	
	.featured-section,.featured-slide{height:400px;overflow:hidden;}
	.featured-slide-content{max-width:90%;}
	.featured-slide-content h2{font-size:27px;line-height:32px;}
	.featured-slide-content p{font-size:14px;line-height:20px;}
	
	#featured-slideshow-outer:hover .slideshow-btn{opacity:0;}
	
	.featured-narrow{margin-top:0;}
	.featured-narrow,.featured-narrow .featured-slide .container{width:100%;}
	
	.block-item{margin-bottom:40px;}
	
		
	/* -- portfolio page -- */
		
	#portfolio-item-filter{margin-bottom:20px;}
	#portfolio-item-filter li{display:block;margin-bottom:10px;margin-right:0;padding:10px 15px;}

	#portfolio-items{height:auto!important;}
	#portfolio-items li{position:static!important;}
	
	
	/* -- about page -- */
	
	.about-image{text-align:center;margin-top:40px;}
	.about-image img{max-width:80%;display:inline-block;}
	
	.team-item{margin-bottom:40px!important;}

		
	/* -- news posts page -- */
	
	.blog-item img{margin-bottom: 20px;}


	/* -- contact page -- */
	
	#contact-map-container, #contact-map{height:400px;}
	
	
	/* -- 404 page -- */
	
	.not-found-page{padding-bottom:40px;}
	
	
	/* -- features page -- */
	
	.feature-page{padding-top:40px;}
	
	#feature-slideshow-outer,.feature-slide{height:300px;}
	
	.feature-slide-animation p{float:none;margin-bottom:10px;}
	#feature-autoplay{margin-bottom:0;}
	
	.feature-slide-animation select{font-size:16px;}

}



/* --- 5) mobile very small only --- */
@media (max-width:310px) {

	/* -- mobile side push nav -- */
	
	#header-nav{width:200px;top:0;right:-200px;}
	#main-content.menu-active,.medium-header-container.menu-active,footer.menu-active{right:200px;}

}