{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{% static "admin/assets/images/favicon.ico" %}">

        <title>Suprimax Admin</title>

        <!-- App css -->
        <link href="{% static "admin/assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "admin/assets/css/icons.css" %}" rel="stylesheet" type="text/css" />
        <link href={% static "admin/assets/css/style.css" %} rel="stylesheet" type="text/css" />

        <script src={% static "admin/assets/js/modernizr.min.js" %}></script>

    </head>

    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="index.html" class="logo"><span>Suprimax<span>.se</span></span></a>
                <h5 class="text-muted m-t-0 font-600">Admin Dashboard</h5>
            </div>

            {% block login_box %}
                {% include "admin/sections/login/login_form.html" %}
            {% endblock %}


        </div>
        <!-- end wrapper page -->



        <!-- jQuery  -->
        <script src="{% static "admin/assets/js/jquery.min.js" %}"></script>
        <script src="{% static "admin/assets/js/popper.min.js" %}"></script>
        <script src="{% static "admin/assets/js/bootstrap.min.js" %}"></script>
        <script src="{% static "admin/assets/js/detect.js" %}"></script>
        <script src="{% static "admin/assets/js/fastclick.js" %}"></script>
        <script src="{% static "admin/assets/js/jquery.blockUI.js" %}"></script>
        <script src="{% static "admin/assets/js/waves.js" %}"></script>
        <script src="{% static "admin/assets/js/jquery.nicescroll.js" %}"></script>
        <script src="{% static "admin/assets/js/jquery.slimscroll.js" %}"></script>
        <script src="{% static "admin/assets/js/jquery.scrollTo.min.js" %}"></script>

        <!-- App js -->
        <script src="{% static "admin/assets/js/jquery.core.js" %}"></script>
        <script src="{% static "admin/assets/js/jquery.app.js" %}"></script>

	</body>
</html>