{% load staticfiles %}
{% block about_us %}

	{% block main_content %}

		<!-- page headers -->
		<section class="page-section single-portfolio">
			<div class="container">

				<!-- Section title -->
				<div class="section-title services-section">
					<h2>Våra tjänster</h2>
				</div>

				{#				        <!-- Services section -->#}
				{#        <section class="services-section page-section section-border">#}
				{#            <div class="container">#}

				<div class="row">
					{% for service in services %}
						<!-- Service item example -->
						<div class="col-xlarge-4 col-medium-4">
							<div class="service-item">
								<i class="{{ service.service_icon }}"></i>
								<h3 class="font-reg">{{ service.service_name }}</h3>
								<p> {{ service.service_description }}</p>
							</div>
						</div>

					{% endfor %}

				</div>

				<div class="section-border"></div>
				{#            </div>#}
				{#        </section>#}

				<div class="clearfix"></div>
				<div class="page-section page-content">
					{{ service_text.service_text|safe }}
				</div>

			</div>

		</section>

	{% endblock %}

{% endblock %}