{% load staticfiles %}
{% block sections_team %}

	<!-- block / call to action / promotion section / team section -->
	<section class="block-section page-section">
		<div class="container">

			<div class="row">

				{% for block in home_blocks %}
					<!-- block example -->
					<div class="col-xlarge-4 col-medium-4">
						<a href="{{ block.home_block_link }}" class="block-item">
							<img src="{{ block.home_block_image }}" alt="" class="block-image"/>
							<div class="block-item-overlay"></div>
							<div class="block-item-inside font-reg">
								<h3>{{ block.home_block_title }}</h3>
							</div>
						</a>
					</div>
				{% endfor %}

			</div>

		</div>
	</section>

{% endblock %}