{% load staticfiles %}
{% block sections_slideshow %}

	<!-- featured section -->
	<section class="featured-section featured-wide">

		<div id="featured-slideshow-outer" class="carousel-outer">

			<!-- Previous slide button -->
			<span class="slideshow-btn previous-slide-btn fa fa-angle-left"></span>

			<!-- featured slideshow -->
			<div id="featured-slideshow" class="carousel" data-autoplay="false" data-autoplay-speed="5000"
				 data-animation-in="fadeIn" data-animation-out="fadeOut">

				{% for slideshow in slideshows %}
					<!-- featured slide example -->
					<div class="featured-slide"
						 style="background-image:url('/static/img/{{ slideshow.slideshow_uuid }}/original.jpg');">
						<div class="container">
							<div class="featured-slide-content font-reg">
								<h2>{{ slideshow.slideshow_title }}</h2>
								<p>{{ slideshow.slideshow_body }}</p>
								{% if slideshow.slideshow_button == 1 %}
									<a href="{{ slideshow.slideshow_link }}" class="primary-button font-reg hov-bk">Läs
										mer</a>
								{% else %}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}

			</div>

			<!-- Next slide button -->
			<span class="slideshow-btn next-slide-btn fa fa-angle-right"></span>

		</div>

	</section>

{% endblock %}
