{% load staticfiles %}
{% block main_navbar %}

<!-- header -->
<header>

	<div class="header-main clearfix edge-padding header-narrow">
		<div class="header-main-inside">
			<div class="container-nav clearfix">

				<div class="medium-header-container">
					<!-- Site logo -->
					<a href="{% url 'homepage' %}" id="site-logo"></a>
					<!-- Mobile burger icon -->
					<div id="mobile-nav-button">
						<div id="mobile-nav-icon">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>

				<!-- header nav menu -->
				<nav id="header-nav">

					<ul id="nav-ul" class="menu font-reg clearfix">

						<!-- Nav item - with two tier drop down -->
						<li class="menu-item">
							<a href="{% url 'homepage' %}">Startsida</a>
						</li>

						<!-- Nav item - with two tier drop down -->
						<li class="menu-item menu-item-has-children">
							<a href={% url 'about_us' %}>Företaget<span class="sub-drop-icon fa fa-angle-down"></span></a>
							<ul class="sub-menu sub-menu-first">
								<li><a href="{% url 'about_us' %}#about-us">Om oss</a></li>
								<li><a href="{% url 'gdpr' %}">GDPR</a></li>
								<li><a href="{% url 'about_us' %}#our-team">Medarbetare</a></li>
								<li><a href="{% url 'jobs' %}">Karriär</a></li>
							</ul>
						</li>

						<!-- Nav item - with two tier drop down -->
						<li class="menu-item">
                            <a href="{% url 'services' %}">Våra tjänster</a>
						</li>

                        <li class="menu-item">
                            <a href="{% url 'news' %}">Nyheter</a>
                        </li>

						<!-- Nav item - with two tier drop down -->
						<li class="menu-item">
							<a href="{% url 'contact_us' %}">Kontakta oss</a>
						</li>

{#						<!-- Nav item - single tier drop down -->#}
{#						<li class="menu-item">#}
{#							<a href="{% url 'links' %}">Länkar</a>#}
{#						</li>#}

						<!-- Nav item - single tier drop down -->
						<li class="menu-item">
							<a href="{% url 'portal' %}">Kundportal</a>
						</li>

					</ul>

				</nav>

			</div>
		</div>
	</div>

</header>

{% endblock %}