{% load staticfiles %}
{% block main_footer %}

	<!-- footer -->
	<footer>

		<div class="footer-main edge-padding">
			<div class="footer-main-inside">
				<div class="container clearfix">

					<!-- footer top content -->
					<div class="footer-top">
						<div class="row">

							<!-- footer about text section -->
							<div class="col-xlarge-4 col-medium-12">
								<div class="footer-about-section">
									<div class="page-content">
										{{ address.contact_us_address|safe }}
									</div>
								</div>
							</div>

							<!-- footer latest blog posts section -->
							<div class="col-xlarge-6 col-medium-6">
								<div class="footer-posts-section">
									<h4 class="font-reg">Senaste inläggen</h4>
									<div class="posts-widget">
										{% if latest_articles_footer %}
											<ul>
												{% for article in latest_articles_footer %}
													<li>
														<a href="">
															<div class="row">
																<div class="col-xlarge-5 col-medium-4 col-small-5">
																	<img src="/{{ article.article_image }}" alt=""
																		 class="image" height="117"/>
																</div>
																<div class="col-xlarge-7 col-medium-8 col-small-7">
																	<h4 class="font-reg">{{ article.article_title }}</h4>
																	<p>{{ article.article_edited_date|date:"d F Y" }}</p>
																</div>
															</div>
														</a>
													</li>
												{% endfor %}
											</ul>
										{% else %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- footer bottom content -->
					<div class="footer-bottom clearfix">

						<!-- footer copyright text -->
						<p class="font-reg">© {% now "Y" %} Suprimax</p>

						{% if socials %}
							<!-- footer social icons -->
							<ul class="footer-social">
								{% for social in socials %}
									<li><a href="https://{{ social.social_link }}" target="_blank"><i
											class="{{ social.social_icon }}"></i></a></li>
								{% endfor %}
							</ul>
						{% else %}
						{% endif %}

						<!-- scroll to top -->
						<div id="scroll-top">
							<span class="fa fa-angle-up"></span>
						</div>

					</div>

				</div>
			</div>
		</div>

	</footer>

{% endblock %}
