{% extends "admin/sections/social/social.html" %}
{% load staticfiles %}
{% block main_content %}

    <div class="card m-b-20" id="social_ajax_{{ social.id }}" style="min-height: 233px;">
        <div class="card-link text-right">
            <h6>
                {% csrf_token %}
                <button id="edit_{{ social.id }}"
                        class="btn-link border-0"><i
                        class="fa fa-edit"></i></button>

                <button type="button" class="btn-link border-0"
                        onclick="if(confirm('Are you sure you want to delete item?'))
                                document.getElementById('social-delete-{{ social.id }}').submit(); return false">
                    <i class="fa fa-trash-o" style="color: red;"></i></button>
                <form action="/admin/social-delete/" method="post"
                      id="social-delete-{{ social.id }}">
                    {% csrf_token %}
                    <input name="social_delete" value="{{ social.id }}" style="display: none">
                </form>
            </h6>
        </div>
        <div class="card-img-top img-fluid text-center">
            <i class="{{ social.social_icon }}"
               style="font-size: 30px; margin-bottom: 20px; margin-top: 40px;"></i>
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">
                <input type="text" name="social_id" id="social_id_{{ social.id }}" value="{{ social.id }}"
                       style="display:none;">
                <input type="text" name="social_name" id="social_name_{{ social.id }}"
                       style="display: none;" value="{{ social.social_title }}">
                <label id="social_name_x_{{ social.id }}" class="social_name_x"
                    style="word-break: break-word">
                    {{ social.social_title }}
                </label>
            </h4>
            <p class="card-text text-center">{{ social.social_link }}</p>
        </div>
        <script>

            $('#edit_{{ social.id }}').click(function () {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var social_id = $('input[id="social_id_{{ social.id }}"]').val();
                $.ajax
                ({
                    url: '/admin/social/edit/',
                    data: {
                        'csrfmiddlewaretoken': csrftoken,
                        'social_id': social_id,
                    },
                    type: 'post',
                    success: function (result) {
                        $("#social_ajax_{{ social.id }}").html(result);
                    }
                });

            });
        </script>
    </div>

{% endblock %}