{% load staticfiles %}

{% block main_content %}

	<div class="row">
		<div class="col-12">
			<div class="card-box">
				<form action="/admin/social/" method="post">
					{% csrf_token %}
					<a href="#custom-modal" class="btn btn-primary waves-effect waves-light m-r-5"
					   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
					   data-overlayColor="#36404a">Add Social Network Link</a>
				</form>
			</div>


			<div class="row">
				{% for social in socials %}
					<div class="col-md-6 col-lg-3" id="social_ajax_{{ social.id }}">

						<div class="card m-b-20" style="min-height: 233px;">
							<div class="card-link text-right">
								<h6>
									{% csrf_token %}
									<button id="edit_{{ social.id }}"
											class="btn-link border-0"><i
											class="fa fa-edit"></i></button>

									<button type="button" class="btn-link border-0"
											onclick="if(confirm('Are you sure you want to delete item?'))
													document.getElementById('social-delete-{{ social.id }}').submit(); return false">
										<i class="fa fa-trash-o" style="color: red;"></i></button>
									<form action="/admin/social-delete/" method="post"
										  id="social-delete-{{ social.id }}">
										{% csrf_token %}
										<input name="social_delete" value="{{ social.id }}" style="display: none">
									</form>
								</h6>
							</div>
							<div class="card-img-top img-fluid text-center">
								<i class="{{ social.social_icon }}"
								   style="font-size: 30px; margin-bottom: 20px; margin-top: 40px;"></i>
							</div>
							<div class="card-body">
								<h4 class="card-title text-center">
									<input type="text" name="social_id" id="social_id_{{ social.id }}"
										   value="{{ social.id }}"
										   style="display:none;">
									<input type="text" name="social_name" id="social_name_{{ social.id }}"
										   style="display: none;" value="{{ social.social_title }}">
									<label id="social_name_x_{{ social.id }}" class="social_name_x"
										   style="word-break: break-word">
										{{ social.social_title }}
									</label>
								</h4>
								<p class="card-text text-center">{{ social.social_link }}</p>
							</div>
							<script>

								$('#edit_{{ social.id }}').click(function () {
									var csrftoken = $("[name=csrfmiddlewaretoken]").val();
									var social_id = $('input[id="social_id_{{ social.id }}"]').val();
									$.ajax
									({
										url: '/admin/social/edit/',
										data: {
											'csrfmiddlewaretoken': csrftoken,
											'social_id': social_id,
										},
										type: 'post',
										success: function (result) {
											$("#social_ajax_{{ social.id }}").html(result);
										}
									});

								});
							</script>
						</div>
					</div>
				{% endfor %}

			</div>

			<!-- Modal -->

			<div id="custom-modal" class="modal-demo">
				<button type="button" class="close" onclick="Custombox.close();">
					<span>&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="custom-modal-title">Add New Social Network Link</h4>

				<div class="custom-modal-text">
					<div class="row">
						<div class="col-sm-12">
							<form action="/admin/social/add/" method="post" class="form-horizontal">
								{% csrf_token %}
								<div class="form-group row">
									<label class="col-3 col-form-label">Social Network name:</label>
									<div class="col-9">
										<input type="text" class="form-control" id="social_name"
											   name="social_name"
											   placeholder="Enter the name of social network (Facebook, Twitter...)"
											   required>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-3 col-form-label">Profile/page link:</label>
									<div class="col-9">
										<input type="text" class="form-control" id="social_link"
											   name="social_link"
											   placeholder="URL of profile/page" required>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-3 col-form-label">Icon of social network:</label>
									<div class="col-9">
										<input type="text" class="form-control" id="social_icon"
											   name="social_icon"
											   placeholder="fa fa-XXX Copy/paste icon code from fontawesome.com/">
									</div>
								</div>
								<button type="submit" class="btn btn-primary pull-right">Save</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}