<div class="card m-b-20" id="social_ajax_{{ social.id }}" style="min-height: 233px;">
    <div class="card-link text-right">
        <h6>
            <button id="close_{{ social.id }}"
                    class="btn-link border-0"
                    data-overlayColor="#36404a"><i
                    class="fa fa-ban"></i></button>
            {% csrf_token %}
            <button type="button" class="btn-link border-0"
                    onclick="if(confirm('Are you sure you want to delete item?'))
                            document.getElementById('social-delete-{{ social.id }}').submit(); return false">
                <i class="fa fa-trash-o" style="color: red;"></i></button>
            <form action="/admin/social-delete/" method="post"
                  id="social-delete-{{ social.id }}">
                {% csrf_token %}
                <input name="social_delete" value="{{ social.id }}" style="display: none">
            </form>
        </h6>
    </div>
    <form action="/admin/social/add/" method="post">
        {% csrf_token %}
        <div class="card-img-top img-fluid text-center">
            <input type="text" name="social_icon" value="{{ social.social_icon }}" placeholder="fa fa-XXX"
                   style="text-align: center;">
        </div>
        <div class="card-body">
            <h4 class="card-title text-center">
                <input type="text" name="social_id" id="social_id_{{ social.id }}" value="{{ social.id }}"
                       style="display:none;">
                <label id="social_name_x_{{ social.id }}" class="social_name_x">
                    <input type="text" name="social_name" value="{{ social.social_title }}"
                           style="text-align: center;">
                </label>

                <input type="text" name="social_link" value="{{ social.social_link }}"
                       style="text-align: center;">
                <div class="m-t-15">
                    <button type="submit" class="btn-link border-0" data-overlayColor="#36404a"><i
                            class="fa fa-save"></i>
                    </button>
                </div>
            </h4>
        </div>
    </form>
    <script>
        $('#close_{{ social.id }}').click(function () {
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var social_id = $('input[id="social_id_{{ social.id }}"]').val();
            $.ajax
            ({
                url: '/admin/social/close/',
                data: {
                    'csrfmiddlewaretoken': csrftoken,
                    'social_id': social_id,
                },
                type: 'post',
                success: function (result) {
                    $("#social_ajax_{{ social.id }}").html(result);
                }
            });

        });
    </script>
</div>