{% load staticfiles %}

{% block sidebar %}
	<!-- post sidebar -->
	<div class="col-xlarge-4 col-medium-4 post-sidebar right-sidebar">

		<!-- posts widget example -->
		<div class="sidebar-widget posts-widget">
			<h3 class="font-reg">Senaste inläggen</h3>
			{% if latest_articles %}
				<ul>
					{% for article in latest_articles %}
						<li>
							<a href="">
								<div class="row">
									<div class="col-xlarge-5 col-medium-4 col-small-5">
										<img src="/{{ article.article_image }}" alt=""
											 class="image"/>
									</div>
									<div class="col-xlarge-7 col-medium-8 col-small-7">
										<h4 class="font-reg">{{ article.article_title }}</h4>
										<p>{{ article.article_edited_date|date:"d F Y" }}</p>
									</div>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
			{% endif %}
		</div>

		{% if categories %}
			<!-- list widget example -->
			<div class="sidebar-widget list-widget">
				<h3 class="font-reg">Kategorier</h3>
				<ul class="font-reg">
					{% for category in categories %}
						<li><a href="">{{ category.article_category_title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
		{% endif %}


		{% if socials %}
			<!-- social widget -->
			<div class="sidebar-widget social-widget">
				<h3 class="font-reg">Följ</h3>
				<ul>
					{% for social in socials %}
						<li><a href="https://{{ social.social_link }}" target="_blank"><i class="{{ social.social_icon }}"></i></a></li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
		{% endif %}

		{#		{% if articles %}#}
		{#			<!-- tag cloud widget -->#}
		{#			<div class="sidebar-widget font-reg widget_tag_cloud">#}
		{#				<h3 class="font-reg">Taggar</h3>#}
		{#				<div class="tagcloud">#}
		{#					{% for article in articles %}#}
		{#						<a href="">{{ article.article_metakey }}</a>#}
		{#					{% endfor %}#}
		{#				</div>#}
		{#			</div>#}
		{#		{% else %}#}
		{#		{% endif %}#}

		<!-- search widget -->
		<div class="sidebar-widget font-reg search-widget">
			<h3 class="font-reg">Sök</h3>
			<form method="post" action="/news/search/">
				{% csrf_token %}
				<div>
					<input type="text" name="search_form" value="{{ search }}">
					<input type="submit" id="searchsubmit" value="Sök">
				</div>
			</form>
		</div>

	</div>
{% endblock %}