{% load staticfiles %}
{% block main_content %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <a href="#custom-modal" class="btn btn-primary waves-effect waves-light m-r-5"
                   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Add
                    New </a>

                <!-- Modal -->

                <div id="custom-modal" class="modal-demo">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Add New Team Member</h4>

                    <div class="custom-modal-text">
                        <div class="row">
                            <div class="col-sm-12">
                                <form action="/admin/our-team/add/" method="post" class="form-horizontal"
                                      enctype="multipart/form-data" id="ourTeam">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Full Name:</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="employee_fullname"
                                                   name="employee_fullname"
                                                   placeholder="First and Last Name of Team Member" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Title:</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="employee_title"
                                                   name="employee_title" placeholder="Title in company" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Facebook</label>
                                        <div class="col-9">
                                            <input type="url" class="form-control" id="employee_facebook"
                                                   name="employee_facebook"
                                                   placeholder="Facebook profile's link">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Twitter:</label>
                                        <div class="col-9">
                                            <input type="url" class="form-control" id="employee_twitter"
                                                   name="employee_twitter"
                                                   placeholder="Twitter profile's link">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Email:</label>
                                        <div class="col-9">
                                            <input type="email" class="form-control" id="employee_email"
                                                   name="employee_email"
                                                   placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Phone number:</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" id="employee_phone"
                                                   name="employee_phone"
                                                   placeholder="0999-99 99 99" data-mask="0999-99 99 99">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Photograph:</label>
                                        <div class="col-9">
                                            <input type="file" class="dropify" id="employee_image" name="employee_image"
                                                   data-height="300"/>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right">
                                        Save
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-box">
                <div class="table-rep-plugin">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="mainTable" class="table m-b-0 table-striped" data-tablesaw-mode="swipe"
                               data-tablesaw-minimap>
                            <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Full Name</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Title</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">FB Link</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Twitter Link</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Email</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Phone</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6">Image</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">Edit/Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for employee in team_members %}
                                <tr>
                                    <td>{{ employee.employee_full_name }}</td>
                                    <td>{{ employee.employee_job }}</td>
                                    <td>
                                        <a href="#custom-modal-fb-{{ employee.id }}"
                                           class="btn btn-link waves-effect waves-light"
                                           data-animation="fadein"
                                           data-toggle="modal">Show</a>
                                    </td>
                                    <td>
                                        <a href="#custom-modal-twitter-{{ employee.id }}"
                                           class="btn btn-link waves-effect waves-light"
                                           data-animation="fadein"
                                           data-toggle="modal">Show</a>
                                    </td>
                                    <td>{{ employee.employee_email }}</td>
                                    <td>{{ employee.employee_phone }}</td>
                                    <td>
                                        <a href="#custom-modal-image-{{ employee.id }}"
                                           class="btn btn-link waves-effect waves-light"
                                           data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
                                           data-overlayColor="#36404a">Show image</a>
                                    </td>
                                    <td>
                                    <span>
                                        <a href="#custom-modal-{{ employee.id }}"
                                           class="btn btn-link waves-effect waves-light"
                                           data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
                                           data-overlayColor="#36404a"><i
                                                class="fa fa-edit mr-3"></i></a>
                                        <button type="button" class="btn btn-link waves-effect waves-light"
                                                onclick="if(confirm('Are you sure you want to delete item?'))
                                                        document.getElementById('employee-delete-{{ employee.id }}').submit(); return false">
                                        <i class="fa fa-trash-o" style="color: red;"></i></button>
                                    <form action="/admin/our-team/delete/" method="post"
                                          id="employee-delete-{{ employee.id }}">
                                    {% csrf_token %}
                                    <input name="employee_delete" value="{{ employee.id }}" style="display: none">
                                    </form>
                                    </span>
                                    </td>
                                </tr>


                                <!-- Modal -->

                                <div id="custom-modal-{{ employee.id }}" class="modal-demo">
                                    <button type="button" class="close" onclick="Custombox.close();">
                                        <span>&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="custom-modal-title">Edit Informations about
                                        "{{ employee.employee_full_name }}" </h4>

                                    <div class="custom-modal-text">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <form action="/admin/our-team/add/" method="post"
                                                      class="form-horizontal">
                                                    {% csrf_token %}
                                                    <div class="form-group row">
                                                        <input type="text" name="employee_id" value="{{ employee.id }}"
                                                               style="display:none;">
                                                        <label class="col-3 col-form-label">Full Name:</label>
                                                        <div class="col-9">
                                                            <input type="text" class="form-control"
                                                                   id="employee_fullname"
                                                                   name="employee_fullname"
                                                                   placeholder="First and Last Name of Team Member"
                                                                   value="{{ employee.employee_full_name }}"
                                                                   required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Title:</label>
                                                        <div class="col-9">
                                                            <input type="text" class="form-control" id="employee_title"
                                                                   name="employee_title" placeholder="Title in company"
                                                                   value="{{ employee.employee_job }}"
                                                                   required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Facebook</label>
                                                        <div class="col-9">
                                                            <input type="url" class="form-control"
                                                                   id="employee_facebook"
                                                                   name="employee_facebook"
                                                                   placeholder="Facebook profile's link"
                                                                   value="{{ employee.employee_facebook }}" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Twitter:</label>
                                                        <div class="col-9">
                                                            <input type="url" class="form-control" id="employee_twitter"
                                                                   name="employee_twitter"
                                                                   value="{{ employee.employee_twitter }}"
                                                                   placeholder="Twitter profile's link" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Email:</label>
                                                        <div class="col-9">
                                                            <input type="email" class="form-control" id="employee_email"
                                                                   name="employee_email"
                                                                   value="{{ employee.employee_email }}"
                                                                   placeholder="Email" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Phone number:</label>
                                                        <div class="col-9">
                                                            <input type="text" class="form-control" id="employee_phone"
                                                                   name="employee_phone"
                                                                   placeholder="0999-99 99 99" data-mask="0999-99 99 99"
                                                                   value="{{ employee.employee_phone }}"
                                                                   required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-3 col-form-label">Photograph:</label>
                                                        <div class="col-9">
                                                            <input type="file" class="dropify" id="employee_image"
                                                                   name="employee_image"
                                                                   data-height="300"/>
                                                        </div>
                                                    </div>

                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light pull-right">
                                                        Save
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div id="custom-modal-image-{{ employee.id }}" class="modal-demo">
                                    <button type="button" class="close" onclick="Custombox.close();">
                                        <span>&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="custom-modal-title">Photograph</h4>

                                    <div class="custom-modal-text">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {% if employee.employee_image %}
                                                    <img src="/{{ employee.employee_image }}">
                                                {% else %}
                                                    <h3>There is no uploaded photograph!</h3>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                                     aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;"
                                     id="custom-modal-fb-{{ employee.id }}">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="mySmallModalLabel">Facebook profile link
                                                    of {{ employee.employee_full_name }}</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <a href="{{ employee.employee_facebook }}"
                                                   target="_blank">{{ employee.employee_facebook }}</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>

                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                                     aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;"
                                     id="custom-modal-twitter-{{ employee.id }}" data-animation="fadein">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="mySmallModalLabel">Twitter profile link
                                                    of {{ employee.employee_full_name }}</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <a href="{{ employee.employee_twitter }}"
                                                   target="_blank">{{ employee.employee_twitter }}</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end row -->

{% endblock %}