{% include "suprimax_main.html" %}
{% load staticfiles %}

{% block main_navbar %}
	{% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_content %}
	<div id="main-content">
		<!-- not found page content -->
		<section class="page-section not-found-page">
			<div class="container">
				<img src="{% static "img/featured_placeholder_1.jpg" %}" alt="" class="image"/>
				<h1 class="font-reg">Page not found</h1>
				<div class="page-content">
					<p>It's looking like you may have taken a wrong turn. Don't worry... it happens to
                    the best of us. You might want to check your internet connection. Here's a little tip that might
                    help you get back on track.</p>
				</div>
				<br>
				<a class="primary-button font-reg hov-bk" href="/"> Return Home</a>

			</div>
		</section>
	</div>
{% endblock %}


{% block main_footer %}
	{% include "blocks/main/main_footer.html" %}
{% endblock %}

{% block scripts %}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}