{% extends "admin_main.html" %}
{% load staticfiles %}

{% block head_content %}
    <!-- Table Responsive css -->
    <link href="{% static "admin/assets/plugins/responsive-table/css/rwd-table.min.css" %}" rel="stylesheet"
          type="text/css" media="screen">
    <link href="{% static "admin/assets/plugins/custombox/dist/custombox.min.css" %}" rel="stylesheet">



{% endblock %}


{% block main_navbar %}
    {% include "admin/main/main_navbar.html" %}
{% endblock %}

{% block sidebar %}
    {% include "admin/main/main_sidebar.html" %}
{% endblock %}

{% block main_content %}
    {% include "admin/sections/social/social.html" %}
{% endblock %}

{% block main_footer %}
    {% include "admin/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

    <!-- Dashboard init -->
    <script src="{% static "admin/assets/pages/jquery.dashboard.js" %}"></script>

    <!-- Modal-Effect -->
    <script src="{% static "admin/assets/plugins/custombox/dist/custombox.min.js" %}"></script>
    <script src="{% static "admin/assets/plugins/custombox/dist/legacy.min.js" %}"></script>

    <!-- XEditable Plugin -->
    <script src="{% static "admin/assets/plugins/moment/moment.js" %}"></script>



{% endblock %}