{% extends "admin_main.html" %}
{% load staticfiles %}

{% block main_navbar %}
	{% include "admin/main/main_navbar.html" %}
{% endblock %}

{% block sidebar %}
	{% include "admin/main/main_sidebar.html" %}
{% endblock %}

{% block main_content %}

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <div class="text-error">404</div>
                <h3 class="text-uppercase font-600">Page not Found</h3>
                <p class="text-muted">
                    It's looking like you may have taken a wrong turn. Don't worry... it happens to
                    the best of us. You might want to check your internet connection. Here's a little tip that might
                    help you get back on track.
                </p>
                <br>
                <a class="btn btn-success waves-effect waves-light" href="/admin/"> Return Home</a>

            </div>
        </div>
        <!-- End wrapper page -->
{% endblock %}

{% block main_footer %}
	{% include "admin/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

	<!-- jQuery  -->
	<script src="{% static "admin/assets/js/jquery.min.js" %}"></script>
	<script src="{% static "admin/assets/js/popper.min.js" %}"></script>
	<script src="{% static "admin/assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "admin/assets/js/detect.js" %}"></script>
	<script src="{% static "admin/assets/js/fastclick.js" %}"></script>
	<script src="{% static "admin/assets/js/jquery.blockUI.js" %}"></script>
	<script src="{% static "admin/assets/js/waves.js" %}"></script>
	<script src="{% static "admin/assets/js/jquery.nicescroll.js" %}"></script>
	<script src="{% static "admin/assets/js/jquery.slimscroll.js" %}"></script>
	<script src="{% static "admin/assets/js/jquery.scrollTo.min.js" %}"></script>

	<!-- App js -->
	<script src="{% static "admin/assets/js/jquery.core.js" %}"></script>
	<script src="{% static "admin/assets/js/jquery.app.js" %}"></script>


{% endblock %}