{% extends "admin_main.html" %}
{% load staticfiles %}

{% block head_content %}
    <link href="{% static "admin/assets/plugins/tablesaw/css/tablesaw.css" %}" rel="stylesheet" type="text/css"/>


    <link href="{% static "admin/assets/plugins/custombox/dist/custombox.min.css" %}" rel="stylesheet">
    <!-- form Uploads -->
    <link href="{% static "admin/assets/plugins/fileuploads/css/dropify.min.css" %}" rel="stylesheet" type="text/css"/>

    <link href="{% static "admin/assets/plugins/switchery/switchery.min.css" %}" rel="stylesheet"/>

{% endblock %}


{% block main_navbar %}
    {% include "admin/main/main_navbar.html" %}
{% endblock %}

{% block sidebar %}
    {% include "admin/main/main_sidebar.html" %}
{% endblock %}

{% block main_content %}
    {% include "admin/sections/links/links_manager.html" %}
{% endblock %}

{% block main_footer %}
    {% include "admin/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

    <!-- Dashboard init -->
    <script src="{% static "admin/assets/pages/jquery.dashboard.js" %}"></script>

    <!-- Modal-Effect -->
    <script src="{% static "admin/assets/plugins/custombox/dist/custombox.min.js" %}"></script>
    <script src="{% static "admin/assets/plugins/custombox/dist/legacy.min.js" %}"></script>


    <script src="{% static "admin/assets/plugins/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "admin/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js" %}"></script>

    <!-- Tablesaw js -->
    <script src="{% static "admin/assets/plugins/tablesaw/js/tablesaw.js" %}"></script>
    <script src="{% static "admin/assets/plugins/tablesaw/js/tablesaw-init.js" %}"></script>


    <!-- file uploads js -->
    <script src="{% static "admin/assets/plugins/fileuploads/js/dropify.min.js" %}"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Ooops, something wrong appended.'
            },
            error: {
                'fileSize': 'The file size is too big (1M max).'
            }
        });
    </script>



{% endblock %}