{% extends "admin_main.html" %}
{% load staticfiles %}

{% block head_content %}
	<link href="{% static "admin/assets/plugins/tablesaw/css/tablesaw.css" %}" rel="stylesheet" type="text/css"/>


	<link href="{% static "admin/assets/plugins/custombox/dist/custombox.min.css" %}" rel="stylesheet">

	<link href="{% static "admin/assets/plugins/switchery/switchery.min.css" %}" rel="stylesheet"/>

	<link href="{% static "admin/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" %}" rel="stylesheet"/>

	<link href="{% static "admin/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}"
		  rel="stylesheet">
	<link href="{% static "admin/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">


{% endblock %}


{% block main_navbar %}
	{% include "admin/main/main_navbar.html" %}
{% endblock %}

{% block sidebar %}
	{% include "admin/main/main_sidebar.html" %}
{% endblock %}

{% block main_content %}
	{% include "admin/sections/job_offers/job_offers_manager.html" %}
{% endblock %}

{% block main_footer %}
	{% include "admin/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

	<!-- Dashboard init -->
	<script src="{% static "admin/assets/pages/jquery.dashboard.js" %}"></script>

	<!-- Modal-Effect -->
	<script src="{% static "admin/assets/plugins/custombox/dist/custombox.min.js" %}"></script>
	<script src="{% static "admin/assets/plugins/custombox/dist/legacy.min.js" %}"></script>


	<script src="{% static "admin/assets/plugins/tinymce/tinymce.min.js" %}"></script>
	<script src="{% static "admin/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js" %}"></script>

	<!-- Tablesaw js -->
	<script src="{% static "admin/assets/plugins/tablesaw/js/tablesaw.js" %}"></script>
	<script src="{% static "admin/assets/plugins/tablesaw/js/tablesaw-init.js" %}"></script>



	<script src="{% static "admin/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>




	<script type="text/javascript">
		$(document).ready(function () {
			if ($("#elm1").length > 0) {
				tinymce.init({
					selector: "textarea#elm1",
					theme: "modern",
					height: 300,
					plugins: [
						"advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
						"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
						"save table contextmenu directionality emoticons template paste textcolor"
					],
					toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
					style_formats: [
						{title: 'Bold text', inline: 'b'},
						{title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
						{title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
						{title: 'Example 1', inline: 'span', classes: 'example1'},
						{title: 'Example 2', inline: 'span', classes: 'example2'},
						{title: 'Table styles'},
						{title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
					]
				});
			}
		});

		jQuery('#datepicker-autoclose').datepicker({
				format: "dd.mm.yyyy",
                autoclose: true,
                todayHighlight: true,
				minDate: 0,
            });
	</script>


{% endblock %}