{% extends "admin_main.html" %}
{% load staticfiles %}

{% block head_content %}
    <link href="{% static "admin/assets/plugins/custombox/dist/custombox.min.css" %}" rel="stylesheet">
    <link href="{% static "admin/assets/plugins/tablesaw/css/tablesaw.css" %}" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block main_navbar %}
    {% include "admin/main/main_navbar.html" %}
{% endblock %}

{% block sidebar %}
    {% include "admin/main/main_sidebar.html" %}
{% endblock %}

{% block main_content %}
    {% include "admin/sections/team/our_team.html" %}
{% endblock %}

{% block main_footer %}
    {% include "admin/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

    <!-- Dashboard init -->
    <script src="{% static "admin/assets/pages/jquery.dashboard.js" %}"></script>


    <!-- Tablesaw js -->
    <script src="{% static "admin/assets/plugins/tablesaw/js/tablesaw.js" %}"></script>
    <script src="{% static "admin/assets/plugins/tablesaw/js/tablesaw-init.js" %}"></script>

    <!-- Modal-Effect -->
    <script src="{% static "admin/assets/plugins/custombox/dist/custombox.min.js" %}"></script>
    <script src="{% static "admin/assets/plugins/custombox/dist/legacy.min.js" %}"></script>

    <!-- file uploads js -->
    <script src="{% static "admin/assets/plugins/fileuploads/js/dropify.min.js" %}"></script>

    <script src="{% static "admin/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" %}"
            type="text/javascript"></script>




{% endblock %}