{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Suprimax Admin panel">
	<meta name="author" content="Suprimax">

	<link rel="shortcut icon" href="{% static "admin/assets/images/favicon.ico" %}">

	<title>Suprimax - Admin Panel</title>

	<!--Morris Chart CSS -->
	<link rel="stylesheet" href="{% static "admin/assets/plugins/morris/morris.css" %}">

	<!-- App css -->
	<link href="{% static "admin/assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "admin/assets/css/icons.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "admin/assets/css/style.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "admin/assets/plugins/fileuploads/css/dropify.min.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "node_modules/cropperjs/src/css/cropper.css" %}" rel="stylesheet">

	<script src="{% static "node_modules/cropperjs/src/js/cropper.js" %}"></script>
	<script src="{% static "admin/assets/js/modernizr.min.js" %}"></script>
	<script src="{% static "admin/assets/js/jquery.min.js" %}"></script>


	{% block head_content %}{% endblock %}

</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

	{% block main_navbar %}{% endblock %}

	{% block sidebar %}{% endblock %}


	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">

				{% block main_content %}{% endblock %}

			</div> <!-- container -->

		</div> <!-- content -->

		{% block main_footer %}{% endblock %}

	</div>


</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src="{% static "admin/assets/js/jquery.min.js" %}"></script>
<script src="{% static "admin/assets/js/popper.min.js" %}"></script>
<script src="{% static "admin/assets/js/bootstrap.min.js" %}"></script>
<script src="{% static "admin/assets/js/detect.js" %}"></script>
<script src="{% static "admin/assets/js/fastclick.js" %}"></script>
<script src="{% static "admin/assets/js/jquery.blockUI.js" %}"></script>
<script src="{% static "admin/assets/js/waves.js" %}"></script>
<script src="{% static "admin/assets/js/jquery.nicescroll.js" %}"></script>
<script src="{% static "admin/assets/js/jquery.slimscroll.js" %}"></script>
<script src="{% static "admin/assets/js/jquery.scrollTo.min.js" %}"></script>
<script src="{% static "admin/assets/plugins/switchery/switchery.min.js" %}"></script>


<!-- KNOB JS -->
<!--[if IE]>
        <script type="text/javascript" src="{% static "admin/assets/plugins/jquery-knob/excanvas.js" %}></script>
        <![endif]-->
<script src="{% static "admin/assets/plugins/jquery-knob/jquery.knob.js" %}"></script>

<!--Morris Chart-->
<script src="{% static "admin/assets/plugins/morris/morris.min.js" %}"></script>
<script src="{% static "admin/assets/plugins/raphael/raphael-min.js" %}"></script>


<!-- App js -->
<script src="{% static "admin/assets/js/jquery.core.js" %}"></script>
<script src="{% static "admin/assets/js/jquery.app.js" %}"></script>

<script src="{% static "admin/assets/plugins/fileuploads/js/dropify.min.js" %}"></script>
<script type="text/javascript">
	$('.dropify').dropify({
		messages: {
			'default': 'Drag and drop a file here or click',
			'replace': 'Drag and drop or click to replace',
			'remove': 'Remove',
			'error': 'Ooops, something wrong appended.'
		},
		error: {
			'fileSize': 'The file size is too big (1M max).'
		}
	});
</script>


{% block scripts %}{% endblock %}


</body>
</html>