{% extends "suprimax_main.html" %}
{% load staticfiles %}

{% block main_navbar %}
    {% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_content %}
    <div id="main-content" class="edge-padding">

    {% block sections_slideshow %}
        {% include "blocks/sections/home/slideshow.html" %}
    {% endblock %}

    {% block sections_team %}
        {% include "blocks/sections/home/block_section.html" %}
    {% endblock %}

    </div>

{% endblock %}

{% block main_footer %}
    {% include "blocks/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/lib/owl-carousel/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}