{% extends "suprimax_main.html" %}
{% load staticfiles %}

{% block main_navbar %}
    {% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_content %}
    <div id="main-content" class="edge-padding">

        {% block links %}
            {% include "blocks/sections/links/links_page.html" %}
        {% endblock %}

    </div>

{% endblock %}

{% block main_footer %}
    {% include "blocks/main/main_footer.html" %}
{% endblock %}


{% block scripts %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/js/lib/isotope/isotope.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/lib/isotope/packery.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/main.js" %}"></script>

{% endblock %}