{% include "suprimax_main.html" %}
{% load staticfiles %}

{% block main_navbar %}
	{% include "blocks/main/main_navbar.html" %}
{% endblock %}

{% block main_content %}
	<div id="main-content" class="edge-padding">
		{% if request.get_full_path == "/news/search/" %}
			{% block search_news %}
				{% include "blocks/sections/news/news_search.html" %}
			{% endblock %}
		{% else %}
			{% block news %}
				{% include "blocks/sections/news/news_page.html" %}
			{% endblock %}
		{% endif %}
	</div>

{% endblock %}


{% block main_footer %}
	{% include "blocks/main/main_footer.html" %}
{% endblock %}

{% block scripts %}

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}