{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

	<!-- page title -->
	<title>Suprimax</title>

	<!-- theme css -->
	<link href="{% static "css/structure.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css"/>
	<link href="{% static "css/animate.css" %}" rel="stylesheet" type="text/css"/>
	<!-- carousel css -->
	<link href="{% static "js/lib/owl-carousel/owl.carousel.css" %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- author -->
	<meta name="author" content="Suprimax">
	<!-- responsive meta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8">

	<!-- google fonts used -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130650821-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}

		gtag('js', new Date());

		gtag('config', 'UA-130650821-1');
	</script>


</head>


<body>

<!-- header -->
{% block main_navbar %}{% endblock %}


{% block main_content %}
	<!-- featured section -->
	{% block sections_slideshow %}{% endblock %}


	<!-- block / call to action / promotion section / team section -->
	{% block sections_team %}{% endblock %}


	{#	<!-- home news section -->#}
	{#	<section> class="news-section page-section">#}
	{#		<div class="container">#}
	{#		#}
	{#			<div class="row">#}
	{#				#}
	{#				<div class="col-xlarge-8 col-medium-8">#}
	{#					#}
	{#					<!-- search widget -->#}
	{#					<div class="sidebar-widget font-reg search-widget">#}
	{#						<h3 class="font-reg">Search</h3>#}
	{#						<form>#}
	{#							<div>#}
	{#								<input type="text" value="">#}
	{#								<input type="submit" id="searchsubmit" value="Search">#}
	{#							</div>#}
	{#						</form>#}
	{#					</div>#}
	{#					#}
	{#				</div>#}
	{#			#}
	{#			</div>#}
	{##}
	{#		</div>#}
	{#	</section>#}

{% endblock %}


<!-- footer -->
{% block main_footer %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>