{% load staticfiles %}
{% block main_content %}

	<div class="row">
		<div class="col-12">
			<div class="card-box">
				<a href="#custom-modal" class="btn btn-primary waves-effect waves-light m-r-5"
				   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Add
					New Slideshow</a>

				<!-- Modal -->

				<div id="custom-modal" class="modal-demo">
					<button type="button" class="close" onclick="Custombox.close();">
						<span>&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="custom-modal-title">Add New Slideshow for Homepage</h4>

					<div class="custom-modal-text">
						<div class="row">
							<div class="col-sm-12">
								<form action="/admin/slideshow-add/" method="post" class="form-horizontal"
									  enctype="multipart/form-data" id="slideshowUpload">
									{% csrf_token %}
									<div class="form-group row">
										<label class="col-3 col-form-label">Title:</label>
										<div class="col-9">
											<input type="text" class="form-control" id="slideshow_title"
												   name="slideshow_title"
												   placeholder="Enter the title for slideshow" required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3 col-form-label">Text of slideshow:</label>
										<div class="col-9">
                                            <textarea class="form-control" id="slideshow_body"
													  name="slideshow_body" rows="5"
													  placeholder="Text that appears under slideshow title"
													  required></textarea>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3 col-form-label">URL:</label>
										<div class="col-9">
											<input type="text" class="form-control" id="slideshow_link"
												   name="slideshow_link"
												   placeholder="Enter the URL for slideshow: https://www...." required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3 col-form-label">Slideshow Image:</label>
										<div class="col-9">
											<input type="file" class="form-control" id="slideshow_image"
												   name="slideshow_image" required/>
										</div>
									</div>

									<button type="submit" class="btn btn-primary pull-right">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card-box">
				<div class="table-rep-plugin">
					<div class="table-responsive" data-pattern="priority-columns">
						<table id="mainTable" class="table m-b-0 table-striped" data-tablesaw-mode="swipe"
							   data-tablesaw-minimap>
							<thead>
							<tr>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Slideshow
									Title
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Body</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Link</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Image</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Edit/Delete</th>
							</tr>
							</thead>
							<tbody>
							{% for slideshow in slideshows %}
								<tr>
									<td>{{ slideshow.slideshow_title }}</td>
									<td>{{ slideshow.slideshow_body }}</td>
									<td>{{ slideshow.slideshow_link }}</td>
									<td>
										<a href="/static/img/{{ slideshow.slideshow_uuid }}/original.jpg"
										   target="_blank">
											{{ slideshow.slideshow_uuid }}
										</a>
									</td>
									<td>
                                    <span>
                                        <a href="#custom-modal-{{ slideshow.id }}"
										   class="btn btn-link"
										   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
										   data-overlayColor="#36404a"><i
												class="fa fa-edit mr-3"></i></a>
                                        <button type="button" class="btn btn-link"
												onclick="if(confirm('Are you sure you want to delete item?'))
														document.getElementById('slideshow-delete-{{ slideshow.id }}').submit(); return false">
                                        <i class="fa fa-trash-o" style="color: red;"></i></button>
                                    <form action="/admin/slideshow-delete/" method="post"
										  id="slideshow-delete-{{ slideshow.id }}">
                                    {% csrf_token %}
                                    <input name="slideshow_delete" value="{{ slideshow.id }}" style="display: none">
                                    </form>
                                    </span>
									</td>
								</tr>


								<!-- Modal -->

								<div id="custom-modal-{{ slideshow.id }}" class="modal-demo">
									<button type="button" class="close" onclick="Custombox.close();">
										<span>&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="custom-modal-title">Edit "{{ slideshow.slideshow_title }}" from
										Homepage</h4>

									<div class="custom-modal-text">
										<div class="row">
											<div class="col-sm-12">
												<form action="/admin/slideshow-add/" method="post"
													  class="form-horizontal">
													{% csrf_token %}
													<input type="text" name="slideshow_id" value="{{ slideshow.id }}"
														   style="display: none">
													<div class="form-group row">
														<label class="col-3 col-form-label">Title:</label>
														<div class="col-9">
															<input type="text" class="form-control" id="slideshow_title"
																   name="slideshow_title"
																   placeholder="Enter the title for slideshow"
																   value="{{ slideshow.slideshow_title }}" required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-3 col-form-label">Text of slideshow:</label>
														<div class="col-9">
                                                            <textarea class="form-control" id="slideshow_body"
																	  name="slideshow_body" rows="5"
																	  placeholder="Text that appears under slideshow title"
																	  required>{{ slideshow.slideshow_body }}</textarea>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-3 col-form-label">URL:</label>
														<div class="col-9">
															<input type="text" class="form-control" id="slideshow_link"
																   name="slideshow_link"
																   placeholder="Enter the URL for slideshow: https://www...."
																   value="{{ slideshow.slideshow_link }}"
																   required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-3 col-form-label">Slideshow Image:</label>
														<div class="col-9">
															<input type="file" class="form-control" id="slideshow_image"
																   name="slideshow_image"
																   value="{{ slideshow.slideshow_image }}" required/>
														</div>
													</div>

													<button type="submit" class="btn btn-primary pull-right">Save
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>


							{% endfor %}
							</tbody>
						</table>
					</div>

				</div>

			</div>

			<div class="card-box">
				<a href="#custom-modal-block" class="btn btn-primary waves-effect waves-light m-r-5"
				   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">Add
					New Block</a>

				<!-- Modal -->

				<div id="custom-modal-block" class="modal-demo">
					<button type="button" class="close" onclick="Custombox.close();">
						<span>&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="custom-modal-title">Add New Block for Homepage</h4>

					<div class="custom-modal-text">
						<div class="row">
							<div class="col-sm-12">
								<form action="/admin/block/add/" method="post" class="form-horizontal"
									  enctype="multipart/form-data" id="blockUpload">
									{% csrf_token %}
									<div class="form-group row">
										<label class="col-3 col-form-label">Title:</label>
										<div class="col-9">
											<input type="text" class="form-control" id="home_block_title"
												   name="home_block_title"
												   placeholder="Enter the title for block" required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3 col-form-label">Link for Block:</label>
										<div class="col-9">
											<input type="text" class="form-control" id="home_block_link"
												   name="home_block_link"
												   placeholder="Enter the URL for block: https://www...." required>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3 col-form-label">Block Image:</label>
										<div class="col-9">
											<input type="file" class="form-control" id="home_block_image"
												   name="home_block_image" required/>
										</div>
									</div>

									<button type="submit" class="btn btn-primary pull-right">Save</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="card-box">
				<div class="table-rep-plugin">
					<div class="table-responsive" data-pattern="priority-columns">
						<table id="mainTable" class="table m-b-0 table-striped" data-tablesaw-mode="swipe"
							   data-tablesaw-minimap>
							<thead>
							<tr>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Block
									Title
								</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Link</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Image</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Edit/Delete</th>
							</tr>
							</thead>
							<tbody>
							{% for block in home_blocks %}
								<tr>
									<td>{{ block.home_block_title }}</td>
									<td>{{ block.home_block_link }}</td>
									<td>
										<a href="/{{ block.home_block_image }}"
										   target="_blank">
											Image Block No.{{ block.id }}
										</a>
									</td>
									<td>
                                    <span>
                                        <a href="#custom-modal-{{ block.id }}"
										   class="btn btn-link"
										   data-animation="push" data-plugin="custommodal" data-overlaySpeed="100"
										   data-overlayColor="#36404a"><i
												class="fa fa-edit mr-3"></i></a>
                                        <button type="button" class="btn btn-link"
												onclick="if(confirm('Are you sure you want to delete item?'))
														document.getElementById('block-delete-{{ block.id }}').submit(); return false">
                                        <i class="fa fa-trash-o" style="color: red;"></i></button>
                                    <form action="/admin/block/delete/" method="post"
										  id="block-delete-{{ block.id }}">
                                    {% csrf_token %}
                                    <input name="home_block_delete" value="{{ block.id }}" style="display: none">
                                    </form>
                                    </span>
									</td>
								</tr>


								<!-- Modal -->

								<div id="custom-modal-{{ block.id }}" class="modal-demo">
									<button type="button" class="close" onclick="Custombox.close();">
										<span>&times;</span><span class="sr-only">Close</span>
									</button>
									<h4 class="custom-modal-title">Edit "{{ block.home_block_title }}" from
										Homepage</h4>

									<div class="custom-modal-text">
										<div class="row">
											<div class="col-sm-12">
												<form action="/admin/block/add/" method="post"
													  class="form-horizontal">
													{% csrf_token %}
													<input type="text" name="home_block_id" value="{{ block.id }}"
														   style="display: none">
													<div class="form-group row">
														<label class="col-3 col-form-label">Title:</label>
														<div class="col-9">
															<input type="text" class="form-control"
																   id="home_block_title"
																   name="home_block_title"
																   placeholder="Enter the title for block"
																   value="{{ block.home_block_title }}" required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-3 col-form-label">URL:</label>
														<div class="col-9">
															<input type="text" class="form-control" id="home_block_link"
																   name="home_block_link"
																   placeholder="Enter the URL for block: https://www...."
																   value="{{ block.home_block_link }}"
																   required>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-3 col-form-label">Block Image:</label>
														<div class="col-9">
															<input type="file" class="form-control"
																   id="home_block_image"
																   name="home_block_image"
																   value="{{ block.home_block_image }}" required/>
														</div>
													</div>

													<button type="submit" class="btn btn-primary pull-right">Save
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>


							{% endfor %}
							</tbody>
						</table>
					</div>

				</div>

			</div>

			<form method="post" action="/admin/gdpr/">
				{% csrf_token %}
				<div class="card-box">
					<button type="submit" class="btn btn-primary waves-effect waves-light ">GDPR Save</button>
				</div>
				<div class="card m-b-20">
					<div class="card-header card-title">GDPR text body</div>
					<div class="card-box">

						<textarea id="elm1" name="elm1">{{ gdpr.gdpr_body }}</textarea>

					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- end row -->

{% endblock %}