{% load staticfiles %}
{% block main_content %}

    <div class="row">
        <div class="col-12">
            <form action="/admin/about-us/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-box">
                    <button type="submit" class="btn btn-primary waves-effect waves-light ">Save</button>
                </div>
                <div class="card m-b-20">
                    <div class="card-header card-title">About page text</div>
                    <div class="card-box">

                        <textarea id="elm1" name="elm1">{{ about_us.aboutus_body }}</textarea>

                    </div>
                </div>
                <div class="card m-b-20">
                    <div class="card-header card-title">Rounded image at 'About Us' page</div>
                    <div class="card-body">
                        <input type="file" class="dropify" id="aboutus_image" name="aboutus_image" data-height="300"/>
                    </div>
                    {% if about_us.aboutus_image %}
                    <div class="card-body text-center">
                        <img src="/{{ about_us.aboutus_image }}" width="300" height="auto">
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}