{% load staticfiles %}
{% block news %}

	<section class="blog-section page-section">
		<div class="container">

			<div class="row">

				<div class="col-xlarge-8 col-medium-8">

					<ul class="blog-list">

						{% for article in articles %}
							{% if forloop.first %}
								<!-- Wide blog item example -->
								<li>
									<div class="blog-item wide-blog-item">
										{% if article.article_image %}
											<a href="/news/{{ article.article_alias }}">
												<img
														src="/{{ article.article_image }}" alt=""
														class="image"/>
											</a>
										{% else %}{% endif %}
										<h3 class="font-reg"><a href="/news/{{ article.article_alias }}">{{ article.article_title }}</a></h3>
										<div class="blog-item-meta">
											<span>{{ article.article_edited_date|date:"d F Y" }}</span>
										</div>
										<div class="page-content">
											<p>{{ article.article_body|safe|truncatewords:50 }}</p>
										</div>
										<a href="/news/{{ article.article_alias }}"
										   class="primary-button font-reg hov-bk">Läs mer</a>
									</div>
								</li>

							{% else %}
								<!-- Small blog item example -->
								<li>
									<div class="blog-item">
										<div class="row">
											<div class="col-xlarge-5 col-medium-4">
												{% if article.article_image %}
													<a href="/news/{{ article.article_alias }}">
														<img
																src="/{{ article.article_image }}"
																alt="" class="image"/></a>
												{% else %}{% endif %}
											</div>
											<div class="col-xlarge-7 col-medium-8">
												<h3 class="font-reg"><a href="/news/{{ article.article_alias }}">{{ article.article_title }}</a></h3>
												<div class="blog-item-meta">
													<span>{{ article.article_edited_date|date:"d F Y" }}</span>
												</div>
												<div class="page-content">
													<p>{{ article.article_body|safe|truncatewords:50 }}</p>
												</div>
												<a href="/news/{{ article.article_alias }}"
												   class="primary-button font-reg hov-bk">Läs mer</a>
											</div>
										</div>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>

					{% if articles %}
						<!-- post navigation -->
						<section class="post-navigation">
							<div id="post-nav-main" class="clearfix">
								{% if articles.has_previous %}
									<a href="/news/{{ articles.previous_page_number }}" id="post-nav-prev"
									   class="post-nav-item">
										<p class="font-reg"><i class="fa fa-long-arrow-left"></i>Nyare inlägg</p>
									</a>
								{% else %}
								{% endif %}
								{% if articles.has_next %}
									<a href="/news/{{ articles.next_page_number }}" id="post-nav-next"
									   class="post-nav-item">
										<p class="font-reg">Äldre inlägg<i class="fa fa-long-arrow-right"></i></p>
									</a>
								{% else %}
								{% endif %}
							</div>
						</section>
					{% else %}
					{% endif %}

				</div>

				{% block sidebar %}
					{% include "blocks/sections/news/sidebar/news_sidebar.html" %}
				{% endblock %}

			</div>

		</div>
	</section>


{% endblock %}