{% load staticfiles %}
{% block news_single_page %}

	<!-- page content -->
	<div class="page-section single-blog">
		<section class="single-blog-main">
			<div class="container">

				<div class="row">

					<div class="col-xlarge-8 col-medium-8">

						<!-- post image -->
						<img src="/{{ article.article_image }}" alt="" class="single-image image"/>

						<!-- post title -->
						<div class="single-blog-title">
							<h2 class="font-reg">{{ article.article_title }}</h2>
							<p class="font-reg">{{ article.article_edited_date|date:"d F Y" }}</p>
						</div>

						<!-- post content -->
						<div class="page-content single-blog-content">
							{{ article.article_body|safe }}
						</div>

						<!-- post share -->
						<div id="post-share" class="small-social clearfix">
							<a href="" class="social-item hov-bk" target="_blank" data-popup="facebook"><span
									class="fa fa-facebook"></span></a>
							<a href="" class="social-item hov-bk" target="_blank" data-popup="twitter"><span
									class="fa fa-twitter"></span></a>
							<a href="" class="social-item hov-bk" target="_blank" data-popup="googlePlus"><span
									class="fa fa-google-plus"></span></a>
							<a href="" class="social-item hov-bk" target="_blank" data-popup="pinterest"><span
									class="fa fa-pinterest"></span></a>
							<a href="" class="social-item hov-bk" target="_blank" data-popup="stumbleupon"><span
									class="fa fa-stumbleupon"></span></a>
							<a href="" class="social-item hov-bk" target="_blank" data-popup="linkedin"><span
									class="fa fa-linkedin"></span></a>
						</div>

						<!-- post author -->
						<!-- <div id="post-author">
							<div class="row">
								<div class="col-xlarge-3 col-medium-4">
									<div class="author-image">
										<img src="assets/img/author_placeholder_1.jpg" alt=""/>
									</div>
								</div>
								<div class="col-xlarge-9 col-medium-8">
									<h4 class="font-reg">By Lucid Themes</h4>
									<div class="page-content">
										<p>Sed rhoncus, velit sit amet mollis cursus, velit urna congue orci, in
											dignissim elit magna eget ante. Mauris sem justo, volutpat in quam quis,
											vulputate luctus neque. Sed ultricies eget augue quis hendrerit. Nullam quis
											nisi sit amet velit pharetra lobortis ac eget magna.</p>
									</div>
								</div>
							</div>
						</div>-->

						<!-- post navigation -->
						<section class="post-navigation">
							<div id="post-nav-main" class="clearfix">
								{#								{% if prev.article_alias != article_alias %}#}
								{#									<a href="/news/{{ prev.article_alias }}" id="post-nav-prev" class="post-nav-item">#}
								{#										<p class="font-reg"><i class="fa fa-long-arrow-left"></i>Previous Post</p>#}
								{#									</a>#}
								{#								{% else %}#}
								{#								{% endif %}#}
								{#								{% if next.article_alias != article_alias %}#}
								{#									<a href="/news/{{ next.article_alias }}" id="post-nav-next" class="post-nav-item">#}
								{#										<p class="font-reg">Next Post<i class="fa fa-long-arrow-right"></i></p>#}
								{#									</a>#}
								{#								{% else %}#}
								{#								{% endif %}#}

								{% if previous_article %}
									<a href="{% url 'news_single' previous_article.article_alias %}" id="post-nav-prev"
									   class="post-nav-item">
										<p class="font-reg"><i class="fa fa-long-arrow-left"></i>Previous Post</p>
									</a>
								{% else %}
								{% endif %}
								{% if next_article %}
									<a href="{% url 'news_single' next_article.article_alias %}" id="post-nav-next"
									   class="post-nav-item">
										<p class="font-reg">Next Post<i class="fa fa-long-arrow-right"></i></p>
									</a>
								{% else %}
								{% endif %}
							</div>
						</section>

					</div>

					{% block sidebar %}
						{% include "blocks/sections/news/sidebar/news_sidebar.html" %}
					{% endblock %}

				</div>

			</div>

		</section>
	</div>

{% endblock %}