{% load staticfiles %}
{% block links %}

	{% block main_content %}
		<!-- Portfolio section -->
		<section class="portfolio-section page-section">

			<div class="container">

				<!-- Portfolio filter -->
				<ul id="portfolio-item-filter" class="font-reg clearfix">
					<li><a href="#" class="active" data-filter="*">Allt</a></li>
					{% for category in link_categories %}
						<li><a href="#"
							   data-filter=".{{ category.link_category_alias }}">{{ category.link_category_name }}</a>
						</li>
					{% endfor %}
				</ul>


				<!-- portfolio item list -->
				<ul id="portfolio-items" class="row clearfix">

					{% for link in links %}
						<li class="col-xlarge-3 col-medium-3 {{ link.link_category.link_category_alias }}">
							<a href="{{ link.link_url }}" class="portfolio-item" target="_blank">
								<img src="/{{ link.link_image }}" class="image" alt=""/>
								<!-- portfolio item hover -->
								<div class="portfolio-hover">
									<div class="portfolio-hover-content font-reg">
										<h3>{{ link.link_name }}</h3>
										<p>{{ link.link_category.link_category_name }}</p>
									</div>
								</div>
							</a>
						</li>
					{% endfor %}

				</ul>

			</div>

		</section>

	{% endblock %}

{% endblock %}