{% block login_box %}
	<div class="m-t-40 card-box">
		<div class="text-center">
			<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
		</div>
		<div class="p-20">
			<form class="form-horizontal m-t-20" action="/admin/login/submit/" method="post">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control" type="text" required="" name="username" placeholder="Username">
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control" type="password" required="" name="password" placeholder="Password">
					</div>
				</div>

				<div class="form-group text-center m-t-30">
					<div class="col-xs-12">
						<button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Log
							In
						</button>
					</div>
				</div>

			</form>

		</div>
	</div>
	<!-- end card-box-->
{% endblock %}