{% load staticfiles %}
{% block portal %}

    {% block main_content %}
        <!-- page headers -->
        <section class="feature-page-header feature-section edge-padding page-section">
            <div class="container">

                <div class="page-content">
                    <div style="position: relative; overflow: hidden;">
{#                        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;" #}
{#                                src="https://suprimax.thereforeonline.com/Client/WEB/Login/WebLogin.aspx" #}
{#                                allow="encrypted-media" allowfullscreen></iframe> #}
			  <iframe src="https://suprimax.thereforeonline.com/portal/Portal.aspx?qList=true" frameborder="0" width="100%" height="500"></iframe>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

{% endblock %}
