{% extends 'admin_job_offers.html' %}
{% load staticfiles %}

{% block main_content %}
	<div class="row">
		<div class="col-12">
			<div class="card card-box">
				<button class="btn bg-transparent disabled"
						style="color: #0da357; font-size: 20px; font-weight: 500; padding: 0px">Job Offer
				</button>
			</div>
			<div class="card card-box">
				<form action="/admin/jobs/save/" method="post" class="form-horizontal"
					  enctype="multipart/form-data">
					{% csrf_token %}
					<input type="text" name="job_offer_id" value="{{ current_job_offer.id }}" style="display: none">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="col-form-label">Title:</label>
							<input type="text" class="form-control" id="job_offer_title"
								   name="job_offer_title" value="{{ current_job_offer.job_offer_title }}"
								   placeholder="Enter the title of Job Offer" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="elm1" class="col-form-label">Job Offer Text:</label>
							<textarea id="elm1" name="elm1">{{ current_job_offer.job_offer_description }}</textarea>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-6">
							<div class="p-20">
								<label>Select Expiring Date for Job Offer</label>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="dd.mm.yyyy"
										   id="datepicker-autoclose" name="job_offer_expiring_date" value="{{ current_job_offer.job_offer_expiring_date|date:"d.m.Y" }}">
									<div class="input-group-append">
										<span class="input-group-text"><i class="ti-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 align-self-center m-t-20">
							<div class="form-row justify-content-center">
								<div class="form-group col-md-6">
									<div class="form-group">
										<label class="col-form-label">Job Offer is published:</label>
										{% if current_job_offer.job_offer_publish == 1 %}
											<div class="col-8" style="text-align: left !important;">
												<div class="radio radio-success m-t-5">
													<input type="radio"
														   name="job_offer_publish"
														   id="published_1_{{ job_offer.id }}" value="1" checked>
													<label for="published_1_{{ job_offer.id }}">
														Yes
													</label>
												</div>
												<div class="radio radio-danger m-t-5">
													<input type="radio"
														   name="job_offer_publish"
														   id="published_0_{{ job_offer.id }}" value="0">
													<label for="published_0_{{ job_offer.id }}">
														No
													</label>
												</div>
											</div>
										{% else %}
											<div class="col-8" style="text-align: left !important;">
												<div class="radio radio-success m-t-5">
													<input type="radio"
														   name="job_offer_publish"
														   id="published_1_{{ job_offer.id }}" value="1">
													<label for="published_1_{{ job_offer.id }}">
														Yes
													</label>
												</div>
												<div class="radio radio-danger m-t-5">
													<input type="radio"
														   name="job_offer_publish"
														   id="published_0_{{ job_offer.id }}" value="0" checked>
													<label for="published_0_{{ job_offer.id }}">
														No
													</label>
												</div>
											</div>
										{% endif %}
									</div>

								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary pull-right m-t-30">Save</button>
				</form>

			</div>
		</div>
	</div>
{% endblock %}