{% load staticfiles %}
{% block main_content %}

    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <a href="{% url 'add_job_offer' %}" class="btn btn-primary waves-effect waves-light m-r-5">Add New
                    Job Offer</a>
            </div>

            <div class="card-box">
                <div class="table-rep-plugin">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="articleTable" class="table table-striped m-b-0" data-tablesaw-mode="swipe"
                               data-tablesaw-minimap>
                            <thead>
                            <tr>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">ID</th>
                                <th scope="col" data-tablesaw-sortable-col
                                    data-tablesaw-priority="persist">
                                    Job Offer Title
                                </th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Date
                                    Created
                                </th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Expiring Date</th>
								<th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Published</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Edit/Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job_offer in job_offers %}
                                <tr>
                                    <td>{{ job_offer.id }}</td>
                                    <td>
                                        <a href="/admin/jobs/add/?id={{ job_offer.id }}">
                                            {{ job_offer.job_offer_title }}
                                        </a>
                                    </td>
                                    <td>{{ job_offer.job_offer_created_date|date:"d.m.Y H:i" }}</td>
                                    <td>{{ job_offer.job_offer_expiring_date|date:"d.m.Y" }}</td>
                                    <td>{% if job_offer.job_offer_published == 1 %}
										<form action="/admin/jobs/change-job-offer-state/" method="post"
											  id="change-job-offer-state-{{ job_offer.id }}">
											{% csrf_token %}
											<input name="job_offer_id" value="{{ job_offer.id }}" style="display: none">
											<a onclick="document.getElementById('change-job-offer-state-{{ job_offer.id }}').submit();"
											   class="btn btn-link"><i
													class="mdi mdi-checkbox-marked" style="color: #007bff"></i></a>
										</form>
									{% else %}
										<form action="/admin/jobs/change-job-offer-state/" method="post"
											  id="change-job-offer-state-{{ job_offer.id }}">
											{% csrf_token %}
											<input name="job_offer_id" value="{{ job_offer.id }}" style="display: none">
											<a onclick="document.getElementById('change-job-offer-state-{{ job_offer.id }}').submit();"
											   class="btn btn-link"><i class="mdi mdi-close-box"
																				style="color: red;"></i></a>
										</form>{% endif %}</td>
                                    <td>
                                        <span>
                                            <a href="/admin/jobs/add/?id={{ article.id }}"
                                               class="btn btn-link"><i
                                                    class="fa fa-edit mr-3"></i></a>
                                            <button type="button" class="btn btn-link"
                                                    onclick="if(confirm('Are you sure you want to delete item?'))
                                                            document.getElementById('job-offer-delete-{{ job_offer.id }}').submit(); return false">
                                            <i class="fa fa-trash-o" style="color: red;"></i></button>
                                                <form action="/admin/jobs/delete/" method="post"
                                                      id="job-offer-delete-{{ job_offer.id }}">
                                                    {% csrf_token %}
                                                    <input name="job_offer_delete" value="{{ job_offer.id }}"
                                                           style="display: none">
                                                </form>
                                        </span>
                                    </td>
                                </tr>


                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}